
/*main screen style*/
#MainScreen
{
	-fx-background-color: black /* #5ca373*/;
	-fx-font-size: 26.0;
}

/*#MainScreen
{
	-fx-background-color: #faebd7;
	-fx-font-size: 26.0;
	-fx-background-image: url("texture.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 100.0% 100.0%;
    -fx-background-position: center center;
}*/

/*pane with back button and navigator buttons */
#bottomPane
{
	-fx-background-color: transparent;	
}

/*classes for scroll pane structure components */
.scroll-bar:horizontal, .scroll-bar:vertical, 
.scroll-pane > .corner {
    -fx-background-color: transparent;
}

/*classes for scroll pane structure components */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb, 
.increment-button:hover, .decrement-button:hover {
   -fx-background-color: ANTIQUEWHITE;
}

/*sidebar panel for VERTICAL_SIDEBAR view*/
.sidebarPane
{
	-fx-background-color: transparent;
	-fx-padding:5.0px;
	-fx-spacing:5.0px;
}

/*button on a toggle panel for VERTICAL SIDEBAR view*/
.toggle-button.button
{
	/*-fx-background-color: red;*/
	-fx-padding:5.0px;
}

.toggle-button.button:selected
{
	-fx-background-color: derive(ANTIQUEWHITE, -10.0%);
	-fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 3.0, 0.0 , 0.0 , 1.0 );
}

/*.sidebarButton
{
    -fx-background-color: 
        derive(green, -50.0%),
        linear-gradient(green 50.0%, derive(green, 20.0%) 100.0%)
        radial-gradient(center 50.0% -40.0%, radius 200.0%, derive(green, 10.0%) 45.0%, derive(green, 15.0%) 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,1.0;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 3.0, 0.0 , 0.0 , 1.0 );
}

.sidebarButton:selected
{
    -fx-background-color: 
        derive(darkgreen, -50.0%),
        linear-gradient(darkgreen 50.0%, derive(darkgreen, 20.0%) 100.0%)
        radial-gradient(center 50.0% -40.0%, radius 200.0%, derive(darkgreen, 10.0%) 45.0%, derive(darkgreen, 15.0%) 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,1.0;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 3.0, 0.0 , 0.0 , 1.0 );
}*/

/*video player */
#MediaControl{
	-fx-font-size: 26.0;
}
/*.root,*/ #mediaView{
   -fx-background-color: black;
}
/*progress bar for video player */
#mediaControlsPane{
	-fx-background-color: transparent ;
}

/*video background for presentation */
.presentationsBackground{

}

/*class for all buttons */
.button{
    -fx-background-color: ANTIQUEWHITE;
    -fx-background-radius: 30.0;
    -fx-text-fill: black;
    -icon-paint: black;
    -icon-size: 30.0;
    -fx-border-color: transparent;
    -fx-border-width: 1.0px;
    -fx-background-insets: 0.0,1.0,1.0;
}
.button:hover {	
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 3.0, 0.0 , 0.0 , 1.0 );
}
.button:pressed{
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 3.0, 0.0 , 0.0 , 1.0 );
	-fx-border-color: #8fa876;
	-fx-border-width: 1.0px;
	-fx-border-radius: 30.0;
}

.button .backButtonIcon {
    -fx-background-color: -icon-paint;
    -fx-min-height: -icon-size;
    -fx-min-width: -icon-size;
    -fx-max-height: -icon-size;
    -fx-max-width: -icon-size;

    -fx-shape: "M 95.366203,216.61107 V 202.9641 h 8.829077 c 8.13311,0 8.9611,-0.0422 10.50404,-0.53509 8.23515,-2.63081 11.96368,-11.87976 7.89124,-19.5749 -1.86157,-3.51757 -5.43006,-6.12771 -9.37444,-6.85687 -0.97204,-0.17969 -6.46875,-0.28523 -14.855801,-0.28523 H 85.047453 v 11.2448 c 0,6.18463 -0.08962,11.24479 -0.199168,11.24479 -0.302845,0 -36.048752,-35.81366 -36.048752,-36.11708 0,-0.30245 35.748291,-36.11417 36.050207,-36.11417 0.108741,0 0.197713,5.06016 0.197713,11.24479 v 11.24479 l 13.82448,7.4e-4 c 7.750337,4.3e-4 14.870737,0.12036 16.205727,0.27298 13.95964,1.59589 25.79534,9.84448 32.11946,22.38483 1.59245,3.15775 1.96256,4.14616 2.95841,7.90082 1.0946,4.12695 1.39663,7.01252 1.20468,11.50938 -0.38715,9.06995 -3.13788,16.87946 -8.33107,23.6525 -6.06521,7.91034 -13.91907,12.92052 -23.98273,15.29918 -2.1721,0.5134 -3.31661,0.57227 -13.03073,0.67025 l -10.649477,0.10742 v -13.64697 z m 22.357287,9.67485 c 15.30739,-3.11557 26.7069,-14.51623 29.80111,-29.80411 0.75037,-3.70741 0.75225,-10.29045 0.004,-14.07218 -1.56532,-7.91166 -5.24156,-14.61924 -11.0722,-20.2021 -5.01757,-4.80434 -10.71291,-7.85106 -17.90453,-9.57802 -2.32196,-0.55759 -3.08466,-0.58563 -19.613822,-0.72122 l -17.197907,-0.14107 -0.06971,-8.79739 c -0.03834,-4.83857 -0.157829,-8.7974 -0.265528,-8.7974 -0.300516,0 -27.842886,27.61412 -27.842886,27.91542 0,0.14552 6.308695,6.57243 14.019324,14.28203 l 14.019322,14.01745 0.06974,-8.9913 0.06974,-8.99131 h 15.345834 c 17.164813,0 17.355023,0.016 21.034373,1.7718 1.85241,0.88397 2.6455,1.47552 4.49792,3.35487 3.10893,3.15415 4.61464,6.34992 4.93073,10.46516 0.20618,2.68445 -0.51979,5.87917 -2.07513,9.13185 -1.36598,2.85665 -4.44671,6.04587 -7.08894,7.33855 -3.53268,1.72833 -3.68124,1.75157 -11.97239,1.87329 l -7.606771,0.11167 v 10.11825 c 0,5.56503 0.0893,10.21191 0.198437,10.32639 0.109141,0.11448 3.770314,0.14509 8.135934,0.068 6.54418,-0.11553 8.40194,-0.23466 10.58333,-0.67865 z m -14.89906,-3.2238 c -1.11703,-1.04067 -0.43271,-2.9001 1.06731,-2.9001 0.67854,0 1.52863,0.95066 1.52863,1.70948 0,0.72391 -0.92326,1.7301 -1.5875,1.7301 -0.23616,0 -0.68996,-0.24276 -1.00844,-0.53948 z m 6.88814,0.1276 c -0.40494,-0.28363 -0.58804,-0.68278 -0.58804,-1.28191 0,-1.57183 1.56912,-2.29335 2.64584,-1.21663 0.73841,0.73841 0.66981,1.70305 -0.16798,2.36205 -0.83499,0.65681 -1.1178,0.67723 -1.88982,0.13649 z m 6.16531,-0.74129 c -0.57351,-0.41937 -0.65937,-1.79141 -0.15046,-2.40461 0.4691,-0.56523 1.94596,-0.52191 2.48423,0.0729 1.35795,1.50052 -0.68249,3.53917 -2.33377,2.33173 z m 6.08542,-1.85209 c -0.3062,-0.2239 -0.49154,-0.68695 -0.49154,-1.22807 0,-1.00682 0.62596,-1.5875 1.71126,-1.5875 0.77795,0 1.55193,0.82108 1.55193,1.64637 0,1.19213 -1.73776,1.9252 -2.77165,1.1692 z m 5.59079,-3.03484 c -0.55221,-0.61018 -0.56743,-1.98968 -0.0269,-2.43827 0.6132,-0.5089 1.98524,-0.42305 2.40461,0.15047 1.17993,1.61364 -1.04788,3.75722 -2.37769,2.2878 z m 4.87298,-4.18204 c -0.3016,-0.38343 -0.54837,-0.91921 -0.54837,-1.19063 0,-0.65612 0.92323,-1.55181 1.59953,-1.55181 0.64139,0 1.84006,1.12032 1.84006,1.71979 0,0.59114 -1.19498,1.71979 -1.82086,1.71979 -0.28709,0 -0.76875,-0.31371 -1.07036,-0.69714 z m 4.10389,-4.7305 c -0.58595,-0.44338 -0.67755,-1.74714 -0.16604,-2.36347 0.4691,-0.56524 1.94596,-0.52191 2.48423,0.0729 1.32355,1.4625 -0.73043,3.49202 -2.31819,2.29059 z m 3.07953,-5.56757 c -1.22438,-0.85759 -0.52553,-2.85132 0.99946,-2.85132 1.49027,0 2.13272,1.65965 1.05834,2.73403 -0.63569,0.63569 -1.26635,0.67164 -2.0578,0.11729 z m 1.70193,-6.1574 c -0.53797,-0.59445 -0.57221,-1.9857 -0.0593,-2.41134 0.51159,-0.42457 1.89048,-0.43775 2.39043,-0.0228 0.56108,0.46566 0.51469,1.94393 -0.0778,2.48014 -0.63901,0.5783 -1.70804,0.55649 -2.25326,-0.046 z m 0.63648,-6.37928 c -1.15026,-1.15026 -0.31764,-2.77464 1.34003,-2.61432 0.62741,0.0607 0.98995,0.28802 1.27609,0.80023 0.36868,0.65996 0.35702,0.77288 -0.15021,1.45521 -0.69417,0.9338 -1.73894,1.08585 -2.46591,0.35888 z m -0.63648,-6.32072 c -0.5104,-0.56398 -0.57892,-1.9151 -0.12038,-2.37364 0.48194,-0.48195 1.92254,-0.3829 2.41961,0.16635 0.24084,0.26612 0.43789,0.78345 0.43789,1.14962 0,1.35501 -1.82858,2.06161 -2.73712,1.05767 z m -1.85208,-6.08541 c -0.45391,-0.50157 -0.57386,-1.54933 -0.2354,-2.05623 0.10691,-0.16011 0.47715,-0.44015 0.82274,-0.6223 1.45436,-0.76655 2.92756,1.79384 1.5766,2.74009 -0.79672,0.55805 -1.62452,0.5345 -2.16394,-0.0616 z m -2.80279,-5.53513 c -0.80191,-0.64934 -0.81163,-1.85691 -0.0201,-2.49784 0.32535,-0.26346 0.7409,-0.47901 0.92343,-0.47901 0.60816,0 1.72628,1.08889 1.71775,1.67285 -0.0201,1.37887 -1.57396,2.1519 -2.62108,1.304 z m -4.35683,-5.13792 c -0.23211,-0.33138 -0.42202,-0.78765 -0.42202,-1.01393 0,-0.22628 0.18991,-0.68256 0.42202,-1.01394 0.61091,-0.8722 2.09798,-0.7118 2.70398,0.29167 0.40062,0.66339 0.40433,0.80149 0.0391,1.45521 -0.55793,0.99853 -2.12783,1.15934 -2.74305,0.28099 z m -4.74663,-3.87904 c -0.95581,-1.05615 -0.357,-2.69114 0.98562,-2.69114 1.51946,0 2.21321,1.33973 1.33962,2.58696 -0.50854,0.72603 -1.71362,0.78002 -2.32524,0.10418 z m -67.521791,-0.43016 c -0.357187,-0.35719 -0.649432,-0.83885 -0.649432,-1.07036 0,-0.52113 1.165412,-1.71979 1.672084,-1.71979 0.640589,0 1.767693,1.0692 1.763449,1.67285 -0.0051,0.72471 -0.239273,1.07753 -0.970743,1.46254 -0.825942,0.43475 -1.08456,0.38556 -1.815358,-0.34524 z m 61.937841,-2.62049 c -0.37112,-0.37113 -0.67477,-0.84272 -0.67477,-1.04799 0,-0.66571 1.07205,-1.7675 1.71979,-1.7675 0.67556,0 1.72525,1.1173 1.71138,1.82162 -0.0129,0.65474 -0.61008,1.29931 -1.38368,1.49347 -0.53936,0.13537 -0.85127,0.0219 -1.37272,-0.4996 z m -6.09079,-1.74839 c -1.06752,-1.1796 -0.0639,-3.1566 1.4142,-2.78563 1.37724,0.34566 1.76535,1.77088 0.74362,2.73074 -0.76067,0.71462 -1.54278,0.73451 -2.15782,0.0549 z m -50.766933,-0.75721 c -0.949259,-1.04891 -0.219667,-2.69114 1.195589,-2.69114 1.288537,0 1.994001,1.63073 1.173215,2.71198 -0.460422,0.60653 -1.811803,0.59464 -2.368804,-0.0208 z m 23.812502,0 c -1.336702,-1.47703 0.691928,-3.52276 2.291096,-2.3104 0.563822,0.42744 0.672883,1.80523 0.189045,2.38822 -0.465654,0.56108 -1.943926,0.51469 -2.480141,-0.0778 z m 6.879167,0 c -0.552013,-0.60996 -0.557419,-1.3444 -0.01558,-2.11797 0.572897,-0.81792 1.852279,-0.69204 2.553267,0.25122 0.484232,0.6516 0.489235,0.74064 0.08551,1.52136 -0.349885,0.6766 -0.590489,0.82925 -1.307063,0.82925 -0.514807,0 -1.059444,-0.20023 -1.316122,-0.48386 z m 6.715174,-0.0279 c -0.68391,-1.27791 0.0233,-2.66322 1.35958,-2.66322 1.35501,0 2.06161,1.82857 1.05767,2.73711 -0.67741,0.61305 -2.07243,0.57041 -2.41725,-0.0739 z m 6.92277,0.19428 c -0.48194,-0.48195 -0.3829,-1.92255 0.16636,-2.41962 0.26612,-0.24084 0.78345,-0.43788 1.14962,-0.43788 1.35501,0 2.0616,1.82857 1.05767,2.73711 -0.56398,0.5104 -1.91511,0.57893 -2.37365,0.12039 z m -39.211245,-5.23875 c -0.638932,-0.63893 -0.671394,-1.2667 -0.107151,-2.07227 0.621456,-0.88726 2.219111,-0.72063 2.696975,0.28127 0.802224,1.68198 -1.267513,3.11331 -2.589824,1.791 z m 5.357813,-4.90062 c -1.196875,-0.84653 -0.51394,-3.03688 0.946875,-3.03688 0.75094,0 1.635051,0.90003 1.624399,1.65364 -0.01897,1.34285 -1.501087,2.14016 -2.571274,1.38324 z";
}

.button .firstPageButtonIcon {
    -fx-background-color: -icon-paint;
    -fx-min-height: -icon-size;
    -fx-min-width: -icon-size;
    -fx-max-height: -icon-size;
    -fx-max-width: -icon-size;

    -fx-shape: "M 46.951397,124.70385 V 94.012174 h 8.464265 8.464264 l 0.06855,13.476266 0.06855,13.47626 19.711453,-13.32115 19.711461,-13.321152 0.0683,15.190722 c 0.0376,8.3549 0.0376,22.02655 0,30.38145 l -0.0683,15.19072 -19.711461,-13.32115 -19.711453,-13.32115 -0.06855,13.47626 -0.06855,13.47626 h -8.464264 -8.464265 z m 14.552084,-0.005 V 96.119088 l -6.151563,0.07102 -6.151562,0.07102 -0.06733,28.508862 -0.06733,28.50885 h 6.218894 6.218895 v -28.57988 z m -8.566844,25.79607 c -0.540453,-0.54045 -0.544605,-1.03153 -0.01322,-1.56292 0.859414,-0.85942 2.290502,0.24951 1.622529,1.25726 -0.489267,0.73816 -1.067075,0.8479 -1.609313,0.30566 z m -0.01322,-4.51114 c -0.531389,-0.53139 -0.527237,-1.02246 0.01322,-1.56291 0.542239,-0.54224 1.120046,-0.4325 1.609313,0.30565 0.667973,1.00776 -0.763115,2.11668 -1.622529,1.25726 z m -0.09827,-4.66423 c -0.782959,-0.78296 -0.0075,-1.97796 1.102656,-1.69932 0.709902,0.17818 1.016329,0.92556 0.648766,1.58237 -0.283903,0.5073 -1.293645,0.57473 -1.751422,0.11695 z m 0,-4.49792 c -0.711679,-0.71168 -0.157569,-1.79916 0.916732,-1.79916 0.784037,0 1.267022,0.86889 0.882434,1.5875 -0.314015,0.58674 -1.30724,0.70359 -1.799166,0.21166 z m 0,-4.49791 c -0.711679,-0.71168 -0.157569,-1.79917 0.916732,-1.79917 0.657384,0 1.153519,0.69876 0.939301,1.32292 -0.272509,0.79399 -1.279816,1.05246 -1.856033,0.47625 z m 0.09827,-4.59619 c -0.545115,-0.54512 -0.525259,-0.99063 0.06808,-1.5276 0.620085,-0.56117 0.918566,-0.55177 1.459513,0.046 0.683333,0.75508 0.230146,1.8974 -0.752742,1.8974 -0.197493,0 -0.546176,-0.1871 -0.774852,-0.41577 z m -0.0017,-4.59235 c -0.543276,-0.60032 -0.357287,-1.50484 0.355976,-1.73122 1.254361,-0.39812 2.086749,0.95192 1.086372,1.76198 -0.742474,0.60122 -0.872932,0.59843 -1.442348,-0.0308 z m -0.09653,-4.5698 c -0.782959,-0.78296 -0.0075,-1.97796 1.102656,-1.69932 0.709902,0.17818 1.016329,0.92556 0.648766,1.58236 -0.283903,0.50731 -1.293645,0.57473 -1.751422,0.11696 z m 0,-4.49792 c -0.711679,-0.71168 -0.157569,-1.79917 0.916732,-1.79917 0.784037,0 1.267022,0.8689 0.882434,1.5875 -0.314015,0.58675 -1.30724,0.7036 -1.799166,0.21167 z m 0,-4.49792 c -0.711679,-0.71167 -0.157569,-1.79916 0.916732,-1.79916 0.657384,0 1.153519,0.69876 0.939301,1.32291 -0.272509,0.794 -1.279816,1.05247 -1.856033,0.47625 z m 0.111489,-4.58297 c -0.540453,-0.54045 -0.544605,-1.03153 -0.01322,-1.56292 0.859414,-0.85941 2.290502,0.24951 1.622529,1.25727 -0.489267,0.73815 -1.067075,0.84789 -1.609313,0.30565 z m -0.01322,-4.51113 c -0.531389,-0.531392 -0.527237,-1.022468 0.01322,-1.562921 0.542239,-0.542238 1.120046,-0.432497 1.609313,0.305652 0.667973,1.007759 -0.763115,2.116679 -1.622529,1.257269 z m 48.532144,24.20623 c 0,-14.4187 -0.0955,-26.176119 -0.21225,-26.127612 -0.88436,0.367448 -38.418933,26.011322 -38.354655,26.204152 0.08454,0.25362 38.008845,26.06374 38.368475,26.1124 0.10914,0.0148 0.19844,-11.77025 0.19843,-26.18894 z m -5.178671,19.13971 c -0.90931,-0.64048 -0.41203,-2.03791 0.66856,-1.87873 0.83564,0.1231 1.2936,0.86819 0.90987,1.48034 -0.31816,0.50754 -1.13188,0.71292 -1.57843,0.39839 z m -0.0394,-4.63173 c -0.58272,-0.75346 -0.59623,-0.99871 -0.0832,-1.5117 0.76593,-0.76593 1.86172,-0.38228 1.86172,0.65181 0,0.88376 -1.28101,1.50313 -1.77849,0.85989 z m -0.093,-4.71574 c -0.60185,-0.60185 -0.25497,-1.60701 0.6142,-1.77976 0.96508,-0.19182 1.57031,1.18373 0.8415,1.91254 -0.54774,0.54774 -0.79801,0.52491 -1.4557,-0.13278 z m -0.0688,-4.39033 c -0.28749,-0.28748 -0.20113,-1.28054 0.14111,-1.62278 0.79737,-0.79738 1.97755,-0.006 1.69138,1.13427 -0.1633,0.65061 -1.35319,0.96782 -1.83249,0.48851 z m -0.0665,-4.68144 c -0.35024,-0.91272 -0.005,-1.62447 0.78734,-1.62447 0.94286,0 1.48427,0.71008 1.05913,1.38907 -0.37705,0.60217 -1.64375,0.76366 -1.84647,0.2354 z m -23.77291,-2.26696 c -0.55996,-0.61875 -0.35064,-1.50695 0.41221,-1.74907 1.13273,-0.35952 1.87075,0.88519 1.02584,1.73011 -0.65776,0.65775 -0.85757,0.66038 -1.43805,0.019 z m 3.34305,-2.18855 c -0.71168,-0.71168 -0.15757,-1.79917 0.91673,-1.79917 0.65738,0 1.15352,0.69877 0.9393,1.32292 -0.27251,0.794 -1.27982,1.05247 -1.85603,0.47625 z m 20.69757,0.12058 c -0.90931,-0.64048 -0.41203,-2.03791 0.66856,-1.87873 0.83564,0.12309 1.2936,0.8682 0.90987,1.48034 -0.31816,0.50754 -1.13188,0.71292 -1.57843,0.39839 z m -17.28926,-2.55512 c -0.71225,-0.85821 0.30908,-2.16753 1.23512,-1.5834 0.76575,0.48302 0.61209,1.80457 -0.22108,1.90142 -0.37626,0.0437 -0.83257,-0.0994 -1.01404,-0.31802 z m 3.47085,-2.06338 c -0.89807,-0.89807 0.15806,-2.39426 1.27,-1.79917 0.93389,0.49981 0.52968,2.11667 -0.52916,2.11667 -0.23284,0 -0.56621,-0.14287 -0.74084,-0.3175 z m 13.77901,-0.0132 c -0.58272,-0.75346 -0.59623,-0.99872 -0.0832,-1.5117 0.76593,-0.76594 1.86173,-0.38229 1.86173,0.65181 0,0.88375 -1.28101,1.50312 -1.77849,0.85989 z m -10.38179,-2.43468 c -0.70286,-0.84689 0.32947,-2.14783 1.24622,-1.5705 0.91608,0.5769 0.58971,1.95466 -0.46302,1.95466 -0.25541,0 -0.60785,-0.17287 -0.7832,-0.38416 z m 3.58677,-2.07806 c -0.99213,-0.72546 0.0625,-2.52478 1.09903,-1.87503 0.89012,0.55798 0.54344,2.22058 -0.46302,2.22058 -0.0899,0 -0.3761,-0.15549 -0.63601,-0.34555 z m 6.70204,-0.20301 c -0.60185,-0.60185 -0.25497,-1.60701 0.6142,-1.77976 0.96508,-0.19181 1.57031,1.18374 0.8415,1.91255 -0.54774,0.54774 -0.79801,0.52491 -1.4557,-0.13279 z m -3.39751,-2.20223 c -0.18034,-0.21729 -0.28898,-0.66952 -0.24143,-1.00496 0.10811,-0.76264 1.45456,-0.86625 1.90835,-0.14685 0.60773,0.96344 -0.93726,2.031 -1.66692,1.15181 z m 3.20006,-2.44616 c -0.36756,-0.6568 -0.0611,-1.40419 0.64877,-1.58236 1.1102,-0.27864 1.88561,0.91636 1.10265,1.69931 -0.45777,0.45778 -1.46752,0.39035 -1.75142,-0.11695 z";
}

.button .prevPageButtonIcon {
    -fx-background-color: -icon-paint;
    -fx-min-height: -icon-size;
    -fx-min-width: -icon-size;
    -fx-max-height: -icon-size;
    -fx-max-width: -icon-size;

    -fx-shape: "m 71.955838,135.96782 c -5.529793,-3.73268 -13.983231,-9.44625 -18.785419,-12.69682 -4.802188,-3.25058 -10.365314,-6.99881 -12.362502,-8.32941 -1.997189,-1.33059 -3.62943,-2.4788 -3.627202,-2.55156 0.0022,-0.0728 10.089729,-6.93719 22.416669,-15.254284 l 22.412624,-15.121996 0.13229,9.512399 0.13229,9.512401 14.15521,-9.55047 14.155212,-9.550469 0.0683,15.226213 c 0.0376,8.374416 0.0376,22.078956 0,30.454546 l -0.0683,15.22833 -11.244802,-7.58701 c -6.18463,-4.17286 -12.52773,-8.46577 -14.09577,-9.53979 -1.56804,-1.07403 -2.90601,-1.95278 -2.97326,-1.95278 -0.0673,0 -0.15353,4.27216 -0.19173,9.49369 l -0.0694,9.49369 z m 22.225,-6.91413 14.022922,9.47689 0.0686,-13.07027 c 0.0377,-7.18865 0.0377,-18.9519 0,-26.140548 l -0.0686,-13.070273 -14.022922,9.476896 -14.02292,9.476895 -0.13229,-9.521319 -0.13229,-9.521317 -19.248439,13.009864 C 50.058258,106.32593 41.39646,112.2738 41.39646,112.388 c 0,0.11419 8.661798,6.06308 19.248439,13.21975 l 19.248439,13.01212 0.13229,-9.52154 0.13229,-9.52154 z m -19.33388,2.45401 c -0.90932,-0.64048 -0.41204,-2.03791 0.66856,-1.87873 0.83563,0.1231 1.29359,0.86819 0.90986,1.48034 -0.31816,0.50754 -1.13187,0.71292 -1.57842,0.39839 z m 28.250342,-0.12058 c -0.75669,-0.75669 -0.0604,-1.91173 1.057,-1.75333 1.1184,0.15854 0.84539,2.07083 -0.29565,2.07083 -0.24412,0 -0.58673,-0.14287 -0.76135,-0.3175 z m -28.289752,-4.51115 c -0.58272,-0.75346 -0.59622,-0.99871 -0.0832,-1.5117 0.76594,-0.76593 1.86174,-0.38228 1.86174,0.65181 0,0.88376 -1.28102,1.50313 -1.7785,0.85989 z m 28.380682,-0.025 c -0.57342,-0.4193 -0.40159,-1.60544 0.26991,-1.86312 1.04881,-0.40246 1.92992,1.09223 1.12082,1.90133 -0.41161,0.41161 -0.78978,0.40122 -1.39073,-0.0382 z M 74.714568,122.1602 c -0.60185,-0.60185 -0.25497,-1.60701 0.6142,-1.77976 0.96509,-0.19182 1.57031,1.18373 0.8415,1.91254 -0.54773,0.54774 -0.798,0.52491 -1.4557,-0.13278 z m 28.481002,0.13278 c -0.61641,-0.61641 -0.50892,-1.40521 0.23785,-1.74546 1.22914,-0.56004 2.1416,1.2503 0.95127,1.88734 -0.66187,0.35423 -0.69723,0.35001 -1.18912,-0.14188 z m -0.12954,-4.71751 c -0.71225,-0.85821 0.30908,-2.16753 1.23512,-1.5834 0.76575,0.48302 0.61209,1.80456 -0.22108,1.90142 -0.37626,0.0437 -0.83258,-0.0994 -1.01404,-0.31802 z m 0.0426,-4.43326 c -0.76695,-0.76695 -0.0811,-1.92443 1.04563,-1.7647 0.94432,0.13386 0.89737,1.90494 -0.0534,2.01605 -0.36483,0.0426 -0.81131,-0.0705 -0.99219,-0.25135 z m -52.302301,-2.32072 c -0.956088,-1.05646 0.400544,-2.41309 1.45701,-1.45701 0.641426,0.58049 0.638791,0.7803 -0.01896,1.43805 -0.657753,0.65775 -0.857566,0.66039 -1.438049,0.019 z m 3.343049,-2.18854 c -0.711679,-0.71168 -0.157569,-1.79917 0.916732,-1.79917 0.657384,0 1.153519,0.69876 0.939301,1.32292 -0.272509,0.794 -1.279816,1.05247 -1.856033,0.47625 z m 20.69758,0.12058 c -0.90932,-0.64048 -0.41204,-2.03791 0.66856,-1.87873 0.83563,0.1231 1.29359,0.86819 0.90986,1.48034 -0.31816,0.50754 -1.13187,0.71292 -1.57842,0.39839 z m 7.84719,-0.17262 c -0.18034,-0.2173 -0.28898,-0.66953 -0.24143,-1.00496 0.10811,-0.76264 1.45456,-0.86626 1.90835,-0.14685 0.60772,0.96344 -0.93726,2.031 -1.66692,1.15181 z m 20.403152,0.052 c -0.75669,-0.75669 -0.0604,-1.91174 1.057,-1.75333 1.1184,0.15854 0.84539,2.07083 -0.29565,2.07083 -0.24412,0 -0.58673,-0.14288 -0.76135,-0.3175 z m -45.539605,-2.43454 c -0.712249,-0.8582 0.309081,-2.16753 1.23512,-1.5834 0.765747,0.48302 0.612087,1.80457 -0.221086,1.90142 -0.376256,0.0437 -0.832572,-0.0994 -1.014034,-0.31802 z m 28.336513,-0.0637 c -0.36756,-0.6568 -0.0611,-1.40418 0.64876,-1.58236 1.1102,-0.27864 1.88562,0.91636 1.10266,1.69932 -0.45778,0.45777 -1.46752,0.39035 -1.75142,-0.11696 z m -24.865664,-1.99971 c -0.898072,-0.89807 0.158057,-2.39426 1.27,-1.79916 0.933887,0.4998 0.529673,2.11666 -0.529166,2.11666 -0.232834,0 -0.566209,-0.14287 -0.740834,-0.3175 z m 13.779004,-0.0132 c -0.58272,-0.75346 -0.59622,-0.99871 -0.0832,-1.5117 0.76594,-0.76593 1.86174,-0.38229 1.86174,0.65181 0,0.88376 -1.28102,1.50312 -1.7785,0.85989 z m 14.64542,-0.16017 c -0.87462,-0.96644 0.47717,-2.34724 1.44259,-1.47356 0.61592,0.55741 0.64193,0.99814 0.0914,1.54869 -0.54679,0.54678 -0.99083,0.52504 -1.53397,-0.0751 z m 13.735262,0.13519 c -0.57342,-0.41929 -0.40159,-1.60544 0.26991,-1.86311 1.04881,-0.40247 1.92992,1.09223 1.12082,1.90132 -0.41161,0.41161 -0.78978,0.40122 -1.39073,-0.0382 z m -38.76247,-2.4097 c -0.702855,-0.84689 0.329467,-2.147828 1.246222,-1.5705 0.916075,0.5769 0.589711,1.95466 -0.463021,1.95466 -0.255405,0 -0.607846,-0.17287 -0.783201,-0.38416 z m 28.299868,-0.145 c -0.39579,-0.73955 0.0988,-1.587503 0.92604,-1.587503 0.8272,0 1.32184,0.847953 0.92604,1.587503 -0.1639,0.30626 -0.55399,0.52916 -0.92604,0.52916 -0.37205,0 -0.76213,-0.2229 -0.92604,-0.52916 z M 68.012529,99.609063 c -0.992127,-0.725458 0.06253,-2.524779 1.099037,-1.875031 0.890111,0.55798 0.543435,2.220585 -0.463021,2.220585 -0.08989,0 -0.376103,-0.155498 -0.636016,-0.345554 z m 6.702039,-0.203007 c -0.60185,-0.60185 -0.25497,-1.607008 0.6142,-1.779759 0.96509,-0.191815 1.57031,1.183735 0.8415,1.912546 -0.54773,0.547737 -0.798,0.524907 -1.4557,-0.132787 z m 21.60009,0.03835 c -0.95608,-1.056465 0.40055,-2.413098 1.45701,-1.45701 0.64143,0.580485 0.6388,0.780299 -0.019,1.43805 -0.65775,0.657754 -0.85756,0.660384 -1.43805,0.01897 z m 6.880912,0.09443 c -0.61641,-0.616408 -0.50892,-1.405213 0.23785,-1.745465 1.22914,-0.560035 2.1416,1.250302 0.95127,1.887347 -0.66187,0.354222 -0.69723,0.350002 -1.18912,-0.141882 z m -31.878512,-2.33502 c -0.18033,-0.217294 -0.28898,-0.669523 -0.24143,-1.004956 0.10811,-0.762643 1.45457,-0.866257 1.90835,-0.146854 0.60773,0.963445 -0.93725,2.031 -1.66692,1.15181 z m 28.34065,0.05204 c -0.71167,-0.711679 -0.15756,-1.799167 0.916742,-1.799167 0.65738,0 1.15352,0.698759 0.9393,1.322917 -0.27251,0.793996 -1.27982,1.052467 -1.856042,0.47625 z m -25.14059,-2.498204 c -0.36756,-0.656802 -0.0611,-1.404186 0.64877,-1.582361 1.1102,-0.278643 1.88561,0.916357 1.10266,1.699315 -0.45778,0.457777 -1.46752,0.39035 -1.75143,-0.116954 z m 28.548912,0.06367 c -0.71225,-0.858208 0.30908,-2.16753 1.23512,-1.583399 0.76575,0.48302 0.61209,1.804566 -0.22108,1.901417 -0.37626,0.04374 -0.83258,-0.09937 -1.01404,-0.318018 z";
}

.button .nextPageButtonIcon {
    -fx-background-color: -icon-paint;
    -fx-min-height: -icon-size;
    -fx-min-width: -icon-size;
    -fx-max-height: -icon-size;
    -fx-max-width: -icon-size;

    -fx-shape: "m 43.081662,74.450189 c 0,-16.734896 0.04778,-30.427084 0.106178,-30.427084 0.0584,0 6.458007,4.294045 14.221354,9.542322 l 14.115177,9.542323 0.132292,-9.526969 0.132291,-9.526967 22.410719,15.132041 c 12.325887,8.322625 22.410937,15.191574 22.411207,15.264334 2.7e-4,0.07276 -10.08455,6.941783 -22.410717,15.264496 l -22.411209,15.132205 -0.132291,-9.527132 -0.132292,-9.52713 -14.115177,9.542323 c -7.763347,5.248279 -14.162957,9.542319 -14.221354,9.542319 -0.0584,0 -0.106178,-13.692185 -0.106178,-30.427081 z M 56.027494,93.54891 c 5.467345,-3.707347 11.696799,-7.915765 13.843231,-9.352034 l 3.902605,-2.611403 v 9.551281 c 0,5.253207 0.09716,9.511596 0.215897,9.463086 0.63659,-0.26005 38.413263,-25.974227 38.413263,-26.1475 0,-0.172701 -37.774313,-25.890888 -38.409577,-26.150697 -0.117116,-0.0479 -0.2442,4.200413 -0.282406,9.44069 l -0.06947,9.527778 -13.493751,-9.139637 c -7.421562,-5.0268 -13.761641,-9.31857 -14.089063,-9.537266 l -0.595312,-0.397629 v 26.239796 c 0,20.083297 0.0732,26.194555 0.311977,26.046985 0.171588,-0.10605 4.78526,-3.2261 10.252606,-6.93345 z m -6.837732,-0.153681 c -0.180338,-0.217294 -0.288982,-0.669522 -0.241431,-1.004956 0.108112,-0.762643 1.454563,-0.866256 1.90835,-0.146854 0.607727,0.963446 -0.937256,2.031 -1.666919,1.15181 z m 28.340651,0.05204 c -0.711679,-0.711679 -0.157567,-1.799167 0.916734,-1.799167 0.657383,0 1.153517,0.69876 0.9393,1.322917 -0.272508,0.793996 -1.279816,1.052468 -1.856034,0.47625 z M 49.219995,88.949356 c -0.809097,-0.809096 0.07202,-2.30379 1.120826,-1.901325 0.671495,0.257675 0.843333,1.443821 0.269911,1.863117 -0.600955,0.43943 -0.979125,0.449821 -1.390737,0.03821 z m 28.421908,-0.08506 c -0.540454,-0.540451 -0.544605,-1.031528 -0.0132,-1.562918 0.859415,-0.859414 2.290501,0.249508 1.622529,1.257266 -0.489268,0.73815 -1.067076,0.847892 -1.609313,0.305652 z M 49.365516,84.483163 c -1.137278,-0.662403 -0.199127,-2.421832 1.000023,-1.875462 0.74677,0.340251 0.854258,1.129056 0.237849,1.745464 -0.48194,0.481941 -0.610453,0.495435 -1.237872,0.129998 z m 28.263171,-0.129998 c -0.531389,-0.531389 -0.527238,-1.022466 0.0132,-1.562917 0.542237,-0.54224 1.120045,-0.432499 1.609312,0.305652 0.667973,1.007758 -0.763114,2.116679 -1.622528,1.257265 z M 49.004106,79.625019 c -0.396953,-1.034445 0.571397,-2.107491 1.419744,-1.573242 0.999159,0.629224 0.567884,1.954662 -0.636014,1.954662 -0.350551,0 -0.703229,-0.171638 -0.78373,-0.38142 z m 0.0083,-4.476409 c -0.350243,-0.91272 -0.0053,-1.624463 0.787342,-1.624463 0.942854,0 1.484271,0.710076 1.059129,1.389063 -0.377046,0.602176 -1.643757,0.763664 -1.846471,0.2354 z m 52.542224,-2.285921 c -0.65775,-0.657752 -0.66039,-0.857565 -0.019,-1.43805 1.05646,-0.956088 2.41309,0.400545 1.45701,1.45701 -0.58048,0.641427 -0.78029,0.638791 -1.43804,-0.01896 z M 49.189762,70.641062 c -0.180338,-0.217294 -0.288982,-0.669523 -0.241431,-1.004956 0.108112,-0.762643 1.454563,-0.866257 1.90835,-0.146855 0.607727,0.963446 -0.937256,2.031 -1.666919,1.151811 z m 20.403151,0.05204 c -0.174625,-0.174625 -0.3175,-0.517234 -0.3175,-0.761355 0,-1.141039 1.912286,-1.41405 2.07083,-0.295645 0.158401,1.117372 -0.99664,1.813689 -1.75333,1.057 z m 7.9375,0 c -0.711679,-0.711679 -0.157567,-1.799167 0.916734,-1.799167 0.657383,0 1.153517,0.698759 0.9393,1.322917 -0.272508,0.793996 -1.279816,1.052467 -1.856034,0.47625 z m 20.69758,0.120578 c -0.90932,-0.640479 -0.41204,-2.037905 0.66856,-1.878727 0.83563,0.123095 1.293587,0.868193 0.90986,1.480336 -0.31816,0.50754 -1.13187,0.71292 -1.57842,0.398391 z M 66.153329,68.311855 c -0.782957,-0.782957 -0.0075,-1.977956 1.102657,-1.699315 0.709903,0.178176 1.016328,0.92556 0.648766,1.582362 -0.283903,0.507304 -1.293646,0.57473 -1.751423,0.116953 z m 28.359114,-0.06392 c -0.39696,-1.034444 0.57139,-2.107491 1.41974,-1.573242 0.99916,0.629224 0.56788,1.954662 -0.63601,1.954662 -0.35055,0 -0.70323,-0.171637 -0.78373,-0.38142 z M 49.219995,66.195189 c -0.809097,-0.809096 0.07202,-2.303791 1.120826,-1.901325 0.671495,0.257675 0.843333,1.44382 0.269911,1.863116 -0.600955,0.439431 -0.979125,0.449821 -1.390737,0.03821 z m 13.592025,-0.09827 c -0.550545,-0.550546 -0.524539,-0.991281 0.09138,-1.548684 0.965414,-0.873685 2.317205,0.507117 1.44259,1.473555 -0.543142,0.600168 -0.987187,0.621914 -1.533972,0.07513 z m 14.829883,0.0132 c -0.540454,-0.540451 -0.544605,-1.031528 -0.0132,-1.562917 0.859415,-0.859415 2.290501,0.249507 1.622529,1.257265 -0.489268,0.738151 -1.067076,0.847892 -1.609313,0.305652 z m 13.64684,0.08507 c -0.89807,-0.898073 0.15806,-2.39426 1.27,-1.799167 0.93389,0.499801 0.52968,2.116667 -0.52916,2.116667 -0.23284,0 -0.56621,-0.142875 -0.74084,-0.3175 z M 59.221246,63.602272 c -0.395793,-0.739545 0.09885,-1.5875 0.926041,-1.5875 0.372052,0 0.762135,0.222906 0.926042,0.529167 0.395793,0.739544 -0.09885,1.5875 -0.926042,1.5875 -0.372051,0 -0.762135,-0.222907 -0.926041,-0.529167 z m 28.58555,0.145002 c -0.702855,-0.846886 0.329467,-2.147827 1.246217,-1.570498 0.91608,0.5769 0.58972,1.954663 -0.46302,1.954663 -0.255401,0 -0.607842,-0.172874 -0.783197,-0.384165 z m -38.44128,-2.018279 c -1.137278,-0.662403 -0.199127,-2.421831 1.000023,-1.875462 0.74677,0.340252 0.854258,1.129057 0.237849,1.745465 -0.48194,0.481941 -0.610453,0.495435 -1.237872,0.129997 z m 6.68073,-0.24339 c -0.657753,-0.657751 -0.660388,-0.857565 -0.01896,-1.43805 0.618748,-0.559959 1.506948,-0.350631 1.749066,0.412213 0.359513,1.132729 -0.885189,1.870755 -1.730106,1.025837 z m 21.582441,0.113393 c -0.531389,-0.53139 -0.527238,-1.022467 0.0132,-1.562918 0.542237,-0.54224 1.120045,-0.432498 1.609312,0.305652 0.667973,1.007758 -0.763114,2.11668 -1.622528,1.257266 z m 6.88571,0.07022 c -0.992126,-0.725458 0.06253,-2.524779 1.099037,-1.875031 0.890111,0.55798 0.543436,2.220585 -0.463021,2.220585 -0.08989,0 -0.376102,-0.155498 -0.636016,-0.345554 z M 52.719655,59.4366 c -0.909318,-0.640479 -0.412033,-2.037905 0.66856,-1.878727 0.835633,0.123095 1.293595,0.868194 0.909864,1.480336 -0.318159,0.50754 -1.131872,0.71292 -1.578424,0.398391 z m 28.250341,-0.120578 c -0.756689,-0.75669 -0.06037,-1.911731 1.057,-1.753331 1.118405,0.158544 0.845394,2.070831 -0.295645,2.070831 -0.244121,0 -0.58673,-0.142875 -0.761355,-0.3175 z m -31.96589,-2.445171 c -0.396953,-1.034444 0.571397,-2.107491 1.419744,-1.573242 0.999159,0.629225 0.567884,1.954663 -0.636014,1.954663 -0.350551,0 -0.703229,-0.171638 -0.78373,-0.381421 z m 28.526307,0.06392 c -0.782958,-0.782958 -0.0075,-1.977958 1.102656,-1.699315 0.709904,0.178175 1.016329,0.925559 0.648767,1.582361 -0.283904,0.507304 -1.293646,0.574731 -1.751423,0.116954 z";
}

.button .lastPageButtonIcon {
    -fx-background-color: -icon-paint;
    -fx-min-height: -icon-size;
    -fx-min-width: -icon-size;
    -fx-max-height: -icon-size;
    -fx-max-width: -icon-size;

    -fx-shape: "m 130.0667,150.14076 -0.0686,-13.47992 -19.71146,13.3338 -19.71146,13.3338 -0.0683,-15.19971 c -0.03756,-8.35984 -0.03756,-22.03958 0,-30.39942 l 0.0683,-15.1997 19.71146,13.3338 19.71146,13.3338 0.0686,-13.47993 0.0685,-13.47992 h 8.46427 8.46426 v 30.69166 30.69167 h -8.46426 -8.46427 z m 14.81545,-17.14559 -0.0673,-28.50885 -6.15156,-0.071 -6.15156,-0.071 v 28.57987 28.57987 h 6.21889 6.2189 z m -8.61338,25.8101 c -0.80909,-0.80909 0.072,-2.30379 1.12083,-1.90132 0.67149,0.25767 0.84333,1.44382 0.26991,1.86311 -0.60096,0.43944 -0.97913,0.44983 -1.39074,0.0382 z m 0.10482,-4.52597 c -0.99213,-0.72546 0.0625,-2.52478 1.09904,-1.87503 0.89011,0.55798 0.54343,2.22059 -0.46302,2.22059 -0.0899,0 -0.37611,-0.1555 -0.63602,-0.34556 z m -0.31422,-4.78147 c -0.40292,-1.04998 0.55703,-2.12975 1.41326,-1.58966 0.86702,0.5469 0.60299,1.80841 -0.3987,1.90494 -0.58106,0.056 -0.91149,-0.0467 -1.01456,-0.31528 z m 0.16703,-4.51756 c -0.70285,-0.84688 0.32947,-2.14782 1.24623,-1.57049 0.91607,0.5769 0.58971,1.95466 -0.46302,1.95466 -0.25541,0 -0.60785,-0.17287 -0.78321,-0.38417 z m 0.002,-4.49606 c -0.64012,-0.77124 -0.23476,-1.60206 0.78162,-1.60206 0.76549,0 0.94103,0.10573 1.01249,0.60987 0.1035,0.73013 -0.37116,1.3745 -1.01249,1.3745 -0.25541,0 -0.60716,-0.17204 -0.78167,-0.38231 z m 0.0408,-4.4331 c -0.80909,-0.8091 0.072,-2.3038 1.12083,-1.90133 0.67149,0.25768 0.84333,1.44382 0.26991,1.86312 -0.60096,0.43943 -0.97913,0.44982 -1.39074,0.0382 z m 0.14552,-4.4662 c -1.13727,-0.6624 -0.19912,-2.42183 1.00002,-1.87546 0.74678,0.34025 0.85426,1.12906 0.23785,1.74546 -0.48193,0.48195 -0.61045,0.49544 -1.23787,0.13 z m -0.35492,-4.84124 c -0.40292,-1.04998 0.55703,-2.12976 1.41326,-1.58967 0.86702,0.54691 0.60299,1.80841 -0.3987,1.90494 -0.58106,0.056 -0.91149,-0.0467 -1.01456,-0.31527 z m 0.16703,-4.51756 c -0.70285,-0.84689 0.32947,-2.14783 1.24623,-1.5705 0.91607,0.5769 0.58971,1.95466 -0.46302,1.95466 -0.25541,0 -0.60785,-0.17287 -0.78321,-0.38416 z m 0.002,-4.49607 c -0.17451,-0.21027 -0.27838,-0.65675 -0.23083,-0.99219 0.12794,-0.90254 1.89705,-0.90254 2.02499,0 0.10345,0.73013 -0.37121,1.3745 -1.01254,1.3745 -0.25541,0 -0.60716,-0.17204 -0.78167,-0.38231 z m 0.0408,-4.4331 c -0.89807,-0.89808 0.15806,-2.39426 1.27,-1.79917 0.93389,0.4998 0.52967,2.11667 -0.52916,2.11667 -0.23284,0 -0.56621,-0.14288 -0.74084,-0.3175 z m 0.10482,-4.52597 c -0.99213,-0.72546 0.0625,-2.52478 1.09904,-1.87503 0.89011,0.55798 0.54343,2.22058 -0.46302,2.22058 -0.0899,0 -0.37611,-0.1555 -0.63602,-0.34555 z m -24.28714,37.29242 c 10.50628,-7.1099 19.10232,-13.02037 19.10232,-13.13437 0,-0.17252 -37.766332,-25.87934 -38.416905,-26.14965 -0.116743,-0.0485 -0.21226,11.71883 -0.21226,26.14965 0,14.43082 0.09552,26.19816 0.21226,26.14965 0.116743,-0.0485 8.808305,-5.90538 19.314585,-13.01528 z m -15.769761,5.86272 c -0.711679,-0.71168 -0.157569,-1.79917 0.916732,-1.79917 0.657384,0 1.153519,0.69876 0.939301,1.32292 -0.272509,0.79399 -1.279816,1.05246 -1.856033,0.47625 z m 0.111489,-4.58298 c -0.540453,-0.54045 -0.544605,-1.03153 -0.01322,-1.56292 0.859414,-0.85941 2.290502,0.24951 1.622529,1.25727 -0.489267,0.73815 -1.067075,0.84789 -1.609313,0.30565 z m -0.01322,-4.51113 c -0.531389,-0.53139 -0.527237,-1.02247 0.01322,-1.56292 0.542239,-0.54224 1.120046,-0.4325 1.609313,0.30565 0.667973,1.00776 -0.763115,2.11668 -1.622529,1.25727 z m -0.303949,-4.99554 c -0.299448,-1.19309 0.974688,-1.99344 1.728172,-1.08554 0.598352,0.72097 0.232364,1.59356 -0.706439,1.68429 -0.724624,0.07 -0.876168,-0.0188 -1.021733,-0.59875 z m 0.217046,-4.15523 c -0.766944,-0.76695 -0.08111,-1.92443 1.045629,-1.7647 0.944321,0.13386 0.897374,1.90494 -0.05344,2.01605 -0.364825,0.0426 -0.811309,-0.0705 -0.992188,-0.25135 z m 24.012805,-2.33971 c -0.84492,-0.84492 -0.1069,-2.08962 1.02583,-1.7301 0.76285,0.24211 0.97217,1.13032 0.41222,1.74906 -0.58049,0.64143 -0.7803,0.63879 -1.43805,-0.019 z m -24.025031,-2.16958 c -0.711679,-0.71168 -0.157569,-1.79917 0.916732,-1.79917 0.657384,0 1.153519,0.69876 0.939301,1.32292 -0.272509,0.79399 -1.279816,1.05247 -1.856033,0.47625 z m 20.697571,0.12058 c -0.90931,-0.64048 -0.41203,-2.03791 0.66856,-1.87873 0.83564,0.12309 1.2936,0.86819 0.90987,1.48034 -0.31816,0.50754 -1.13187,0.71292 -1.57843,0.39839 z m -3.71554,-2.56575 c -0.39696,-1.03445 0.57139,-2.10749 1.41974,-1.57324 0.99916,0.62922 0.56788,1.95466 -0.63601,1.95466 -0.35056,0 -0.70323,-0.17164 -0.78373,-0.38142 z m -16.870542,-2.13781 c -0.540453,-0.54045 -0.544605,-1.03152 -0.01322,-1.56291 0.859414,-0.85942 2.290502,0.2495 1.622529,1.25726 -0.489267,0.73815 -1.067075,0.84789 -1.609313,0.30565 z m 13.646842,0.0851 c -0.89807,-0.89807 0.15806,-2.39426 1.27,-1.79917 0.93389,0.49981 0.52967,2.11667 -0.52917,2.11667 -0.23283,0 -0.5662,-0.14287 -0.74083,-0.3175 z m -3.48195,-2.44791 c -0.70285,-0.84689 0.32947,-2.14783 1.24622,-1.5705 0.91608,0.5769 0.58971,1.95466 -0.46302,1.95466 -0.2554,0 -0.60784,-0.17287 -0.7832,-0.38416 z m -10.178108,-2.14828 c -0.531389,-0.53139 -0.527237,-1.02247 0.01322,-1.56292 0.542239,-0.54224 1.120046,-0.4325 1.609314,0.30566 0.667972,1.00775 -0.763115,2.11667 -1.62253,1.25726 z m 6.885708,0.0702 c -0.99212,-0.72546 0.0625,-2.52478 1.09904,-1.87503 0.89011,0.55798 0.54344,2.22058 -0.46302,2.22058 -0.0899,0 -0.3761,-0.15549 -0.63602,-0.34555 z m -3.544398,-2.3532 c -0.75669,-0.75669 -0.06037,-1.91173 1.056998,-1.75333 1.11841,0.15855 0.8454,2.07083 -0.29564,2.07083 -0.24412,0 -0.586733,-0.14287 -0.761358,-0.3175 z m -3.439583,-2.38125 c -0.782959,-0.78295 -0.0075,-1.97795 1.102656,-1.69931 0.709902,0.17817 1.016329,0.92556 0.648766,1.58236 -0.283903,0.50731 -1.293645,0.57473 -1.751422,0.11695 z";
}

.button .playButtonIcon {
    -fx-background-color: -icon-paint;
    -fx-min-height: -icon-size;
    -fx-min-width: -icon-size;
    -fx-max-height: -icon-size;
    -fx-max-width: -icon-size;

    -fx-shape: "M 58.971767,72.835448 V 35.540232 l 6.680729,4.05719 c 3.674402,2.23146 16.86057,10.24495 29.30261,17.807766 12.442034,7.56281 23.187434,14.08028 23.878654,14.48326 1.66351,0.96983 1.82999,0.76192 -2.91041,3.63467 -2.29196,1.38896 -13.03736,7.919111 -23.878664,14.511461 -10.841304,6.59234 -22.717788,13.810831 -26.39219,16.041091 l -6.680729,4.055 z m 13.938055,26.185171 c 6.231311,-3.78826 18.440064,-11.1999 27.130568,-16.47032 8.69052,-5.270411 15.80051,-9.642091 15.79999,-9.714851 -5.1e-4,-0.0728 -5.44405,-3.43149 -12.09675,-7.46385 -6.652704,-4.03236 -18.862144,-11.443996 -27.132105,-16.470306 -8.269957,-5.02632 -15.086284,-9.13876 -15.147396,-9.13876 -0.06111,0 -0.111112,14.88282 -0.111112,33.072916 0,18.190101 0.05111,33.072922 0.113574,33.072922 0.06247,0 5.21192,-3.09949 11.443231,-6.887751 z m -8.891577,-1.55953 c -0.657695,-0.65769 -0.680525,-0.90796 -0.132787,-1.4557 0.72881,-0.72881 2.10436,-0.12358 1.912546,0.8415 -0.172752,0.86917 -1.177908,1.21606 -1.779759,0.6142 z m -0.275491,-4.76603 c -0.435484,-0.81371 0.09489,-1.6587 0.97481,-1.55307 1.463808,0.17572 1.463808,1.84037 0,2.01609 -0.473587,0.0568 -0.772592,-0.0852 -0.97481,-0.46302 z m 0,-4.49792 c -0.435484,-0.81371 0.09489,-1.65869 0.97481,-1.55307 1.463808,0.17572 1.463808,1.84037 0,2.01609 -0.473587,0.0568 -0.772592,-0.0852 -0.97481,-0.46302 z m 0.142704,-4.40038 c -0.859415,-0.85941 0.249508,-2.2905 1.257266,-1.62253 0.738149,0.48927 0.84789,1.06708 0.305652,1.60931 -0.540453,0.54046 -1.031529,0.54461 -1.562918,0.0132 z m 0.02211,-4.566 c -0.561169,-0.62008 -0.551768,-0.918561 0.04597,-1.459511 0.755073,-0.68333 1.897395,-0.23015 1.897395,0.752741 0,1.01464 -1.25251,1.47016 -1.943368,0.70677 z m 0.110679,-4.523831 c -0.657695,-0.6577 -0.680524,-0.90797 -0.132787,-1.45571 0.72881,-0.72881 2.104361,-0.12358 1.912546,0.8415 -0.172752,0.86917 -1.177908,1.21606 -1.779759,0.61421 z m 39.825843,-3.27537 c -0.99213,-0.72546 0.0625,-2.52478 1.09904,-1.87503 0.89011,0.55798 0.54343,2.22059 -0.46302,2.22059 -0.0899,0 -0.37611,-0.1555 -0.63602,-0.34556 z m -40.101334,-1.49067 c -0.435484,-0.81371 0.09489,-1.65869 0.97481,-1.55307 1.463808,0.17572 1.463808,1.84037 0,2.01609 -0.473587,0.0568 -0.772592,-0.0852 -0.97481,-0.46302 z m 34.29606,-2.08721 c -0.56117,-0.62009 -0.55177,-0.91857 0.046,-1.45951 0.75508,-0.68334 1.8974,-0.23015 1.8974,0.75274 0,1.01464 -1.25251,1.47016 -1.94337,0.70677 z m -34.29606,-2.41071 c -0.435484,-0.8137 0.09489,-1.65869 0.97481,-1.55306 1.463808,0.17571 1.463808,1.84037 0,2.01608 -0.473587,0.0568 -0.772592,-0.0852 -0.97481,-0.46302 z m 28.61943,-0.86252 c -0.89807,-0.89807 0.15806,-2.39426 1.27,-1.79917 0.93389,0.4998 0.52967,2.11667 -0.52917,2.11667 -0.23283,0 -0.56621,-0.14288 -0.74083,-0.3175 z M 63.88546,61.042588 c -0.859415,-0.85941 0.249508,-2.2905 1.257266,-1.62253 0.738149,0.48927 0.84789,1.06708 0.305652,1.60932 -0.540453,0.54045 -1.031529,0.5446 -1.562918,0.0132 z m 22.754166,0 c -0.85941,-0.85941 0.24951,-2.2905 1.25727,-1.62253 0.73815,0.48927 0.84789,1.06708 0.30565,1.60932 -0.54045,0.54045 -1.03153,0.5446 -1.56292,0.0132 z m -5.704587,-3.41725 c -0.190744,-0.22983 -0.255453,-0.67662 -0.155612,-1.07442 0.235706,-0.93912 1.823369,-0.86346 1.959009,0.0934 0.16508,1.16457 -1.08618,1.84527 -1.803397,0.98106 z m -17.027473,-1.14874 c -0.561169,-0.62009 -0.551768,-0.91857 0.04597,-1.45952 0.755074,-0.683326 1.897396,-0.230136 1.897396,0.75274 0,1.01465 -1.25251,1.47016 -1.943368,0.70678 z m 11.21227,-2.410706 c -0.435483,-0.81371 0.09489,-1.6587 0.974813,-1.55307 0.885997,0.10636 1.369679,0.8376 0.973036,1.47107 -0.434964,0.69467 -1.593844,0.74346 -1.947849,0.082 z m -11.101591,-2.11313 c -0.657695,-0.6577 -0.680525,-0.90797 -0.132787,-1.4557 0.72881,-0.72881 2.10436,-0.12359 1.912546,0.8415 -0.172752,0.86917 -1.177908,1.21605 -1.779759,0.6142 z m 5.589772,-1.13064 c -0.797377,-0.79738 -0.0059,-1.97756 1.134272,-1.69138 0.517194,0.1298 0.664895,0.33579 0.664895,0.92728 0,1.00393 -1.094504,1.46876 -1.799167,0.7641 z m -5.865263,-3.6354 c -0.435484,-0.81371 0.09489,-1.65869 0.97481,-1.55307 1.463808,0.17572 1.463808,1.84038 0,2.01609 -0.473587,0.0568 -0.772592,-0.0852 -0.97481,-0.46302 z";
}

.button .pauseButtonIcon {
    -fx-background-color: -icon-paint;
    -fx-min-height: -icon-size;
    -fx-min-width: -icon-size;
    -fx-max-height: -icon-size;
    -fx-max-width: -icon-size;

    -fx-shape: "M 75.583782,76.053807 V 41.922556 h 8.995834 8.995833 v 34.131251 34.131253 h -8.995833 -8.995834 z m 15.875001,0 V 44.303806 h -6.879167 -6.879167 v 31.750001 31.750003 h 6.879167 6.879167 z M 81.398112,103.95951 c -0.518369,-0.62459 0.07394,-1.71195 0.932545,-1.71195 0.858602,0 1.450915,1.08736 0.932546,1.71195 -0.184735,0.22259 -0.60438,0.40471 -0.932546,0.40471 -0.328165,0 -0.74781,-0.18212 -0.932545,-0.40471 z m 0.0065,-4.622369 c -0.395793,-0.739545 0.09885,-1.5875 0.926041,-1.5875 0.372052,0 0.762135,0.222906 0.926042,0.529167 0.395793,0.739545 -0.09885,1.5875 -0.926042,1.5875 -0.372051,0 -0.762135,-0.222906 -0.926041,-0.529167 z m -0.04457,-4.622374 c -0.365945,-0.803159 0.07184,-1.463043 0.970613,-1.463043 0.328166,0 0.747811,0.182121 0.932546,0.40471 0.518369,0.624596 -0.07394,1.711957 -0.932546,1.711957 -0.458747,0 -0.767553,-0.207952 -0.970613,-0.653624 z M 81.555805,90.4547 c -0.545116,-0.545113 -0.525259,-0.990629 0.06808,-1.527593 0.620086,-0.561171 0.918568,-0.551767 1.459514,0.04597 0.683334,0.755074 0.230145,1.897396 -0.752743,1.897396 -0.197493,0 -0.546176,-0.187097 -0.77485,-0.415774 z m -0.0019,-4.592349 c -0.823478,-0.909934 0.09569,-2.166488 1.258414,-1.720308 0.974559,0.37393 0.573511,2.230514 -0.481711,2.230514 -0.173172,0 -0.522639,-0.229592 -0.776591,-0.510206 z m -0.155953,-4.657003 c -0.518258,-0.624597 0.07405,-1.711958 0.932656,-1.711958 0.858602,0 1.450915,1.087361 0.932546,1.711958 -0.184735,0.222589 -0.60438,0.404709 -0.932546,0.404709 -0.328165,0 -0.74781,-0.18212 -0.932545,-0.404709 z m 0.0066,-4.622374 c -0.395793,-0.739545 0.09885,-1.5875 0.926041,-1.5875 0.372052,0 0.762135,0.222906 0.926042,0.529166 0.395793,0.739545 -0.09885,1.5875 -0.926042,1.5875 -0.372051,0 -0.762135,-0.222906 -0.926041,-0.529166 z m -0.04457,-4.622375 c -0.365945,-0.803158 0.07184,-1.463042 0.970613,-1.463042 0.328166,0 0.747811,0.18212 0.932546,0.404709 0.518369,0.624597 -0.07394,1.711958 -0.932546,1.711958 -0.458747,0 -0.767553,-0.207952 -0.970613,-0.653625 z m 0.195763,-4.260066 c -0.545116,-0.545114 -0.525259,-0.99063 0.06808,-1.527594 0.620086,-0.56117 0.918568,-0.551767 1.459514,0.04597 0.683334,0.755073 0.230145,1.897396 -0.752743,1.897396 -0.197493,0 -0.546176,-0.187098 -0.77485,-0.415774 z m -0.0019,-4.59235 c -0.823478,-0.909934 0.09569,-2.166488 1.258414,-1.720307 0.974559,0.37393 0.573511,2.230514 -0.481711,2.230514 -0.173172,0 -0.522639,-0.229592 -0.776591,-0.510207 z M 81.397892,58.45118 c -0.256826,-0.309459 -0.265787,-0.558548 -0.03807,-1.058333 0.407765,-0.894948 1.533461,-0.894948 1.941227,0 0.366056,0.803159 -0.07173,1.463043 -0.970503,1.463043 -0.328165,0 -0.74781,-0.182121 -0.932545,-0.40471 z m 0.0066,-4.622374 c -0.395793,-0.739545 0.09885,-1.5875 0.926041,-1.5875 0.372052,0 0.762135,0.222906 0.926042,0.529167 0.395793,0.739545 -0.09885,1.5875 -0.926042,1.5875 -0.372051,0 -0.762135,-0.222906 -0.926041,-0.529167 z m -0.04457,-4.622373 c -0.365945,-0.80316 0.07184,-1.463044 0.970613,-1.463044 0.898777,0 1.336559,0.659884 0.970614,1.463044 -0.407765,0.894947 -1.533462,0.894947 -1.941227,0 z M 105.21712,76.053807 V 41.922556 h 8.99583 8.99583 v 34.131251 34.131253 h -8.99583 -8.99583 z m 15.875,0 V 44.303806 h -6.87917 -6.87917 v 31.750001 31.750003 h 6.87917 6.87917 z m -10.00125,27.992913 c -0.78296,-0.78295 -0.008,-1.97795 1.10265,-1.69931 0.70991,0.17817 1.01633,0.92556 0.64877,1.58236 -0.2839,0.5073 -1.29365,0.57473 -1.75142,0.11695 z m 0,-4.497912 c -0.71168,-0.711679 -0.15757,-1.799167 0.91673,-1.799167 0.78404,0 1.26702,0.868892 0.88243,1.5875 -0.31401,0.586743 -1.30724,0.703589 -1.79916,0.211667 z m 0,-4.497917 c -0.71168,-0.711679 -0.15757,-1.799167 0.91673,-1.799167 0.65739,0 1.15352,0.69876 0.9393,1.322917 -0.27251,0.793996 -1.27981,1.052468 -1.85603,0.47625 z m 0.11149,-4.582975 c -0.54046,-0.540451 -0.54461,-1.031528 -0.0132,-1.562918 0.85941,-0.859414 2.2905,0.249508 1.62252,1.257266 -0.48926,0.73815 -1.06707,0.847892 -1.60931,0.305652 z m -0.0132,-4.511133 c -0.53139,-0.531389 -0.52724,-1.022466 0.0132,-1.562917 0.54223,-0.54224 1.12004,-0.432499 1.60931,0.305652 0.66797,1.007758 -0.76311,2.116679 -1.62253,1.257265 z m -0.0983,-4.664226 c -0.78296,-0.782957 -0.008,-1.977956 1.10265,-1.699315 0.70991,0.178175 1.01633,0.92556 0.64877,1.582361 -0.2839,0.507305 -1.29365,0.574731 -1.75142,0.116954 z m 0,-4.497917 c -0.71168,-0.711679 -0.15757,-1.799166 0.91673,-1.799166 0.78404,0 1.26702,0.868891 0.88243,1.5875 -0.31401,0.586742 -1.30724,0.703593 -1.79916,0.211666 z m 0,-4.497916 c -0.71168,-0.711679 -0.15757,-1.799167 0.91673,-1.799167 0.65739,0 1.15352,0.698759 0.9393,1.322917 -0.27251,0.793996 -1.27981,1.052467 -1.85603,0.47625 z m 0.11149,-4.582976 c -0.54046,-0.540451 -0.54461,-1.031528 -0.0132,-1.562917 0.85941,-0.859414 2.2905,0.249507 1.62252,1.257265 -0.48926,0.738151 -1.06707,0.847892 -1.60931,0.305652 z m -0.0132,-4.511132 c -0.53139,-0.53139 -0.52724,-1.022467 0.0132,-1.562918 0.54223,-0.54224 1.12004,-0.432498 1.60931,0.305652 0.66797,1.007758 -0.76311,2.11668 -1.62253,1.257266 z m -0.0983,-4.664226 c -0.78296,-0.782958 -0.008,-1.977958 1.10265,-1.699315 0.70991,0.178175 1.01633,0.925559 0.64877,1.582361 -0.2839,0.507304 -1.29365,0.574731 -1.75142,0.116954 z m 0,-4.497917 c -0.71168,-0.711678 -0.15757,-1.799167 0.91673,-1.799167 0.78404,0 1.26702,0.868891 0.88243,1.5875 -0.31401,0.586743 -1.30724,0.703593 -1.79916,0.211667 z m 0,-4.497917 c -0.71168,-0.711678 -0.15757,-1.799167 0.91673,-1.799167 0.65739,0 1.15352,0.698759 0.9393,1.322917 -0.27251,0.793996 -1.27981,1.052467 -1.85603,0.47625 z";
}

.button .fullScreenButtonIcon {
    -fx-background-color: -icon-paint;
    -fx-min-height: -icon-size;
    -fx-min-width: -icon-size;
    -fx-max-height: -icon-size;
    -fx-max-width: -icon-size;

    -fx-shape: "m -4.9937034,179.18274 c -1.09558,-0.47738 -2.450027,-2.08505 -2.638126,-3.13136 -0.08558,-0.47605 -0.12122,-13.01868 -0.0792,-27.87252 l 0.07641,-27.00696 0.661458,-0.97665 c 0.363803,-0.53716 1.145534,-1.21301 1.737182,-1.50189 1.05799,-0.51658 1.709083,-0.52524 39.4975614,-0.52524 32.0366,0 38.56333,0.0605 39.27324,0.36429 1.02962,0.44054 2.1714,1.6159 2.55436,2.6295 0.19211,0.50847 0.28141,9.29765 0.28141,27.69788 0,18.40022 -0.0893,27.1894 -0.28141,27.69788 -0.38296,1.01359 -1.52474,2.18895 -2.55436,2.62949 -1.23569,0.52872 -77.3148044,0.52443 -78.5285274,-0.004 z m 78.3817554,-2.61386 0.73358,-0.73362 v -26.97547 -26.97548 l -0.73361,-0.73362 -0.73362,-0.73361 H 34.301843 -4.0507154 l -0.733618,0.73361 -0.733617,0.73362 v 26.96017 26.96017 l 0.628193,0.66869 c 0.345506,0.36777 0.881288,0.71913 1.190625,0.7808 0.309338,0.0617 17.6154454,0.0978 38.4580164,0.0802 l 37.895588,-0.0319 z m -74.0006624,-4.28076 c -0.702854,-0.84688 0.329469,-2.14782 1.246223,-1.5705 0.916074,0.5769 0.58971,1.95467 -0.463021,1.95467 -0.255405,0 -0.607846,-0.17288 -0.783202,-0.38417 z m 4.551656,0.078 c -0.766944,-0.76695 -0.08111,-1.92443 1.045629,-1.7647 0.504144,0.0715 0.609875,0.247 0.609875,1.01249 0,0.79147 -0.09639,0.93731 -0.663317,1.00356 -0.364824,0.0426 -0.811308,-0.0705 -0.992187,-0.25135 z m 4.486546,-0.0114 c -0.711678,-0.71168 -0.157568,-1.79917 0.916733,-1.79917 0.7840374,0 1.2670224,0.86889 0.8824344,1.5875 -0.3140164,0.58674 -1.3072414,0.70359 -1.7991674,0.21167 z m 4.4534874,-0.19581 c -0.435484,-0.81371 0.09489,-1.6587 0.97481,-1.55307 1.463808,0.17572 1.463808,1.84037 0,2.01609 -0.473587,0.0569 -0.772592,-0.0852 -0.97481,-0.46302 z m 41.054848,0.19581 c -0.711679,-0.71168 -0.157567,-1.79917 0.916734,-1.79917 0.784037,0 1.267021,0.86889 0.882433,1.5875 -0.314016,0.58674 -1.30724,0.70359 -1.799167,0.21167 z m 4.453485,-0.19581 c -0.435483,-0.81371 0.09489,-1.6587 0.974813,-1.55307 0.885997,0.10635 1.369677,0.8376 0.973037,1.47106 -0.43496,0.69468 -1.593845,0.74347 -1.94785,0.082 z m 4.59929,0.15339 c -0.0834,-0.21744 -0.11252,-0.6719 -0.0646,-1.0099 0.0682,-0.48123 0.25303,-0.61456 0.85199,-0.61456 0.94285,0 1.48427,0.71008 1.05913,1.38906 -0.37705,0.60218 -1.64376,0.76367 -1.84648,0.2354 z m 4.66319,-0.0243 c -0.70285,-0.84688 0.32947,-2.14782 1.24622,-1.5705 0.91608,0.5769 0.58971,1.95467 -0.46302,1.95467 -0.2554,0 -0.60784,-0.17288 -0.7832,-0.38417 z m -68.2609644,-4.49606 c -0.17451,-0.21027 -0.278385,-0.65676 -0.230834,-0.99219 0.07147,-0.50413 0.247,-0.60987 1.012498,-0.60987 0.765497,0 0.94103,0.10574 1.012498,0.60988 0.103502,0.73012 -0.371166,1.3745 -1.012498,1.3745 -0.255405,0 -0.607154,-0.17204 -0.781664,-0.38231 z m 68.2625044,0 c -0.17451,-0.21027 -0.27839,-0.65676 -0.23083,-0.99219 0.0715,-0.50413 0.24699,-0.60987 1.01249,-0.60987 0.7655,0 0.94103,0.10574 1.0125,0.60988 0.1035,0.73012 -0.37117,1.3745 -1.0125,1.3745 -0.2554,0 -0.60715,-0.17204 -0.78166,-0.38231 z m -68.2216744,-4.4331 c -0.898073,-0.89807 0.158058,-2.39426 1.27,-1.79916 0.933888,0.4998 0.529671,2.11666 -0.529166,2.11666 -0.232834,0 -0.566209,-0.14287 -0.740834,-0.3175 z m 68.2625044,0 c -0.89807,-0.89807 0.15806,-2.39426 1.27,-1.79916 0.93389,0.4998 0.52967,2.11666 -0.52917,2.11666 -0.23283,0 -0.56621,-0.14287 -0.74083,-0.3175 z m -68.1576864,-4.52597 c -0.992126,-0.72546 0.06253,-2.52478 1.099037,-1.87503 0.651783,0.40858 0.748271,1.45438 0.172995,1.87503 -0.259915,0.19006 -0.546122,0.34556 -0.636016,0.34556 -0.08989,0 -0.376102,-0.1555 -0.636016,-0.34556 z m 68.2625064,0 c -0.57528,-0.42065 -0.47879,-1.46645 0.17299,-1.87503 1.03651,-0.64975 2.09116,1.14957 1.09904,1.87503 -0.25992,0.19006 -0.54612,0.34556 -0.63602,0.34556 -0.0899,0 -0.3761,-0.1555 -0.63601,-0.34556 z M -0.5702424,140.60479 c -0.898073,-0.89808 0.158058,-2.39426 1.27,-1.79917 0.933888,0.4998 0.529671,2.11667 -0.529166,2.11667 -0.232834,0 -0.566209,-0.14288 -0.740834,-0.3175 z m 68.2625044,0 c -0.89807,-0.89808 0.15806,-2.39426 1.27,-1.79917 0.93389,0.4998 0.52967,2.11667 -0.52917,2.11667 -0.23283,0 -0.56621,-0.14288 -0.74083,-0.3175 z m -68.1576864,-4.52597 c -0.575277,-0.42066 -0.478789,-1.46646 0.172995,-1.87504 1.036504,-0.64974 2.091163,1.14958 1.099037,1.87504 -0.259915,0.19005 -0.546122,0.34555 -0.636016,0.34555 -0.08989,0 -0.376102,-0.1555 -0.636016,-0.34555 z m 68.2625064,0 c -0.57528,-0.42066 -0.47879,-1.46646 0.17299,-1.87504 1.03651,-0.64974 2.09116,1.14958 1.09904,1.87504 -0.25992,0.19005 -0.54612,0.34555 -0.63602,0.34555 -0.0899,0 -0.3761,-0.1555 -0.63601,-0.34555 z m -68.5767284,-4.78147 c -0.231631,-0.60362 -0.02896,-1.26508 0.487217,-1.59014 0.678712,-0.42743 1.389062,0.11335 1.389062,1.05745 0,0.66993 -0.107011,0.77523 -0.861714,0.84796 -0.581059,0.056 -0.911498,-0.0467 -1.014565,-0.31527 z m 68.2624984,0 c -0.23163,-0.60362 -0.029,-1.26508 0.48722,-1.59014 0.67871,-0.42743 1.38906,0.11335 1.38906,1.05745 0,0.66993 -0.10701,0.77523 -0.86171,0.84796 -0.58106,0.056 -0.9115,-0.0467 -1.01457,-0.31527 z m -68.0954624,-4.51756 c -0.702854,-0.84689 0.329469,-2.14783 1.246223,-1.5705 0.916074,0.5769 0.58971,1.95466 -0.463021,1.95466 -0.255405,0 -0.607846,-0.17287 -0.783202,-0.38416 z m 4.551656,0.078 c -0.766944,-0.76694 -0.08111,-1.92443 1.045629,-1.7647 0.504144,0.0715 0.609875,0.247 0.609875,1.0125 0,0.79147 -0.09639,0.93731 -0.663317,1.00356 -0.364824,0.0426 -0.811308,-0.0705 -0.992187,-0.25136 z m 4.486546,-0.0114 c -0.711678,-0.71168 -0.157568,-1.79916 0.916733,-1.79916 0.7840374,0 1.2670224,0.86889 0.8824344,1.5875 -0.3140164,0.58674 -1.3072414,0.70359 -1.7991674,0.21166 z m 4.4534874,-0.19581 c -0.435484,-0.81371 0.09489,-1.65869 0.97481,-1.55307 1.463808,0.17572 1.463808,1.84038 0,2.01609 -0.473587,0.0568 -0.772592,-0.0852 -0.97481,-0.46302 z m 41.054848,0.19581 c -0.711679,-0.71168 -0.157567,-1.79916 0.916734,-1.79916 0.784037,0 1.267021,0.86889 0.882433,1.5875 -0.314016,0.58674 -1.30724,0.70359 -1.799167,0.21166 z m 4.453485,-0.19575 c -0.435483,-0.81371 0.09489,-1.65869 0.974813,-1.55307 0.885997,0.10636 1.369677,0.8376 0.973037,1.47107 -0.43496,0.69468 -1.593845,0.74346 -1.94785,0.082 z m 4.59929,0.1534 c -0.0834,-0.21745 -0.11252,-0.6719 -0.0646,-1.00991 0.0682,-0.48122 0.25303,-0.61455 0.85199,-0.61455 0.94285,0 1.48427,0.71007 1.05913,1.38906 -0.37705,0.60217 -1.64376,0.76366 -1.84648,0.2354 z m 4.66319,-0.0243 c -0.70285,-0.84689 0.32947,-2.14783 1.24622,-1.5705 0.91608,0.5769 0.58971,1.95466 -0.46302,1.95466 -0.2554,0 -0.60784,-0.17287 -0.7832,-0.38416 z";
}

.label {
	-icon-paint: black;
    -icon-size: 30.0;
}

.label .volumeLabelIcon {
    -fx-background-color: -icon-paint;
    -fx-min-height: -icon-size;
    -fx-min-width: -icon-size;
    -fx-max-height: -icon-size;
    -fx-max-width: -icon-size;

    -fx-shape: "m 93.79479,288.27173 c -1.07102,-0.47806 -2.16375,-1.68475 -2.57336,-2.84174 -0.21047,-0.59447 -3.40992,-4.43473 -8.51887,-10.22507 l -8.18182,-9.27304 -5.0676,-0.0858 c -8.43099,-0.14275 -8.06981,0.51833 -8.06981,-14.77018 0,-15.28923 -0.35991,-14.63033 8.0658,-14.76576 l 5.06383,-0.0814 8.18571,-9.27573 c 5.54531,-6.28374 8.29783,-9.60224 8.5333,-10.28796 1.32221,-3.85039 6.59641,-4.10691 8.2788,-0.40266 0.75986,1.67305 0.76379,67.9519 0.004,69.60621 -1.04403,2.27359 -3.60237,3.34839 -5.7201,2.40312 z m 3.18703,-2.65567 0.64943,-0.64943 V 251.0759 217.18518 l -0.64943,-0.64943 c -1.43398,-1.43398 -3.84848,-0.38675 -3.84848,1.66918 0,0.27104 -0.36485,0.84235 -0.81078,1.26958 -0.79459,0.76126 -0.79905,0.77954 -0.22348,0.91541 1.43088,0.33779 1.28719,1.97869 -0.17328,1.97869 -0.57779,0 -0.78803,-0.14845 -0.90361,-0.63807 -0.13284,-0.5627 -1.06561,0.39826 -7.8973,8.13594 l -7.74668,8.77401 h -5.25412 -5.25413 l -0.68498,0.81405 -0.68498,0.81405 v 10.80731 10.80732 l 0.68498,0.81405 0.68498,0.81405 h 5.25413 5.25412 l 7.74668,8.77401 c 6.83169,7.73768 7.76446,8.69864 7.8973,8.13593 0.11558,-0.48961 0.32582,-0.63806 0.90361,-0.63806 1.46047,0 1.60416,1.6409 0.17328,1.97869 -0.57557,0.13587 -0.57111,0.15415 0.22348,0.91541 0.44593,0.42723 0.81078,0.99854 0.81078,1.26958 0,2.05618 2.41433,3.10333 3.84848,1.66918 z m -5.64765,-8.6639 c -0.8091,-0.8091 0.072,-2.30379 1.12082,-1.90133 0.6715,0.25768 0.84334,1.44382 0.26992,1.86312 -0.60096,0.43943 -0.97913,0.44982 -1.39074,0.0382 z m 0.14552,-4.4662 c -1.13728,-0.6624 -0.19913,-2.42183 1.00002,-1.87546 0.74677,0.34025 0.85426,1.12906 0.23785,1.74546 -0.48194,0.48195 -0.61045,0.49544 -1.23787,0.13 z m -0.36141,-4.85814 c -0.39696,-1.03445 0.5714,-2.10749 1.41974,-1.57324 0.99916,0.62922 0.56789,1.95466 -0.63601,1.95466 -0.35055,0 -0.70323,-0.17164 -0.78373,-0.38142 z m 0.008,-4.47641 c -0.35024,-0.91272 -0.005,-1.62446 0.78735,-1.62446 0.94285,0 1.48427,0.71007 1.05913,1.38906 -0.37705,0.60218 -1.64376,0.76366 -1.84648,0.2354 z m -16.892,-2.17253 c -0.53139,-0.53139 -0.52724,-1.02247 0.0132,-1.56292 0.54224,-0.54224 1.12005,-0.43249 1.60932,0.30566 0.66797,1.00775 -0.76312,2.11668 -1.62253,1.25726 z m 17.06941,-2.33502 c -0.18034,-0.21729 -0.28898,-0.66952 -0.24143,-1.00495 0.10811,-0.76265 1.45456,-0.86626 1.90835,-0.14686 0.60772,0.96345 -0.93726,2.031 -1.66692,1.15181 z M 74.136,256.31466 c -0.78296,-0.78296 -0.008,-1.97796 1.10266,-1.69932 0.7099,0.17818 1.01633,0.92556 0.64876,1.58236 -0.2839,0.50731 -1.29364,0.57473 -1.75142,0.11696 z m 17.19792,-2.11667 c -0.8091,-0.8091 0.072,-2.30379 1.12082,-1.90133 0.6715,0.25768 0.84334,1.44382 0.26992,1.86312 -0.60096,0.43943 -0.97913,0.44982 -1.39074,0.0382 z M 74.136,251.81674 c -0.71168,-0.71168 -0.15757,-1.79917 0.91673,-1.79917 0.78404,0 1.26703,0.86889 0.88244,1.5875 -0.31402,0.58674 -1.30724,0.70359 -1.79917,0.21167 z m 17.34344,-2.08494 c -1.13728,-0.66241 -0.19913,-2.42184 1.00002,-1.87547 0.74677,0.34025 0.85426,1.12906 0.23785,1.74547 -0.48194,0.48194 -0.61045,0.49543 -1.23787,0.13 z M 74.136,247.31882 c -0.71168,-0.71168 -0.15757,-1.79917 0.91673,-1.79917 0.65739,0 1.15352,0.69876 0.9393,1.32292 -0.2725,0.794 -1.27981,1.05247 -1.85603,0.47625 z m 16.98203,-2.44517 c -0.39696,-1.03444 0.5714,-2.10749 1.41974,-1.57324 0.99916,0.62922 0.56789,1.95466 -0.63601,1.95466 -0.35055,0 -0.70323,-0.17164 -0.78373,-0.38142 z m -16.87054,-2.1378 c -0.54045,-0.54045 -0.5446,-1.03153 -0.0132,-1.56292 0.85941,-0.85942 2.2905,0.24951 1.62252,1.25726 -0.48926,0.73815 -1.06707,0.8479 -1.60931,0.30566 z m 16.87879,-2.33861 c -0.35024,-0.91272 -0.005,-1.62446 0.78734,-1.62446 0.94286,0 1.48428,0.71008 1.05913,1.38906 -0.37704,0.60218 -1.64375,0.76367 -1.84647,0.2354 z m 0.1774,-4.50755 c -0.18033,-0.21729 -0.28898,-0.66952 -0.24142,-1.00495 0.10811,-0.76265 1.45456,-0.86626 1.90834,-0.14686 0.60773,0.96345 -0.93725,2.031 -1.66692,1.15181 z m 0.0302,-4.44587 c -0.8091,-0.8091 0.072,-2.30379 1.12082,-1.90132 0.6715,0.25767 0.84334,1.44382 0.26992,1.86311 -0.60096,0.43943 -0.97913,0.44982 -1.39074,0.0382 z m 0.14552,-4.46619 c -1.13728,-0.66241 -0.19913,-2.42183 1.00002,-1.87546 0.74677,0.34025 0.85426,1.12905 0.23785,1.74546 -0.48194,0.48194 -0.61045,0.49544 -1.23787,0.13 z m 25.37008,50.97747 -0.68374,-0.89644 1.44201,-1.11249 c 15.76564,-12.1631 15.76369,-37.57893 -0.004,-49.74347 l -1.44582,-1.11544 0.57262,-0.83016 c 0.31494,-0.45658 0.60793,-0.87652 0.65109,-0.9332 0.32272,-0.42371 5.54099,4.55554 7.50299,7.15931 11.22201,14.89273 8.12414,37.34863 -6.59862,47.83216 l -0.75297,0.53616 -0.68374,-0.89643 z m -6.89774,-6.37557 c -0.27476,-0.51019 -0.45066,-0.96405 -0.3909,-1.00857 0.0598,-0.0445 0.70398,-0.50882 1.43158,-1.03178 13.08908,-9.40768 12.36134,-29.1253 -1.39981,-37.92657 -0.0423,-0.0271 0.17581,-0.4775 0.48469,-1.001 l 0.56159,-0.95183 1.36739,0.9198 c 14.11033,9.49149 14.1043,31.50514 -0.0112,41.00022 -1.66232,1.11818 -1.44097,1.11821 -2.04331,-2.7e-4 z m -5.83169,-6.99674 c -0.56572,-1.09397 -0.53893,-1.16328 0.72081,-1.86487 8.31451,-4.6306 8.61639,-17.61599 0.53241,-22.9019 -0.83853,-0.54829 -1.55947,-1.02235 -1.60208,-1.05346 -1.71649,-1.25292 1.28963,-1.90076 3.05784,-0.65899 6.28929,4.4168 8.48176,12.67711 5.23391,19.71921 -1.98393,4.30162 -7.00455,8.57456 -7.94289,6.76001 z";
}

.label .muteLabelIcon {
    -fx-background-color: -icon-paint;
    -fx-min-height: -icon-size;
    -fx-min-width: -icon-size;
    -fx-max-height: -icon-size;
    -fx-max-width: -icon-size;

    -fx-shape: "m 172.60744,290.28656 c -1.23825,-0.61292 -2.01756,-1.53631 -2.35647,-2.79214 -0.13917,-0.51569 -3.24159,-4.24156 -8.40246,-10.09099 l -8.18182,-9.27343 -5.0676,-0.0858 c -8.43181,-0.14276 -8.0698,0.5204 -8.0698,-14.78295 v -11.45011 l 0.65772,-1.12231 c 1.14581,-1.95519 2.10006,-2.23147 7.70727,-2.23147 2.84023,0 4.8657,-0.10736 5.02467,-0.26633 0.17871,-0.17871 0.51648,-0.005 1.02675,0.52738 l 0.76043,0.79372 -0.62308,0.66324 -0.62309,0.66324 h -5.22202 -5.22203 l -0.68498,0.81405 -0.68498,0.81405 v 10.80731 10.80732 l 0.68498,0.81405 0.68498,0.81405 h 5.25413 5.25413 l 7.74667,8.77401 c 6.8317,7.73768 7.76447,8.69864 7.89731,8.13593 0.11558,-0.48961 0.32582,-0.63806 0.90361,-0.63806 1.46046,0 1.60416,1.6409 0.17328,1.97869 -0.57557,0.13587 -0.57111,0.15415 0.22348,0.91541 0.44592,0.42723 0.81077,0.99854 0.81077,1.26958 0,2.05593 2.4145,3.10316 3.84849,1.66918 l 0.64943,-0.64943 v -13.29629 -13.29628 l 1.19062,1.16851 1.19063,1.16851 -0.006,12.0496 c -0.005,11.12494 -0.0431,12.13082 -0.4918,13.10793 -1.12491,2.4497 -3.68926,3.39006 -6.05341,2.21983 z m 1.13301,-36.21283 -33.26938,-33.27015 0.77578,-0.80973 0.77578,-0.80974 7.17468,7.16088 8.02513,8.01133 0.7154,-0.79503 c 7.27065,-8.07979 12.14679,-13.84021 12.44009,-14.69606 1.32012,-3.85211 6.59592,-4.11002 8.27879,-0.40471 0.46186,1.01692 0.49045,2.13946 0.49593,19.47149 l 0.006,18.39236 3.37711,3.36962 c 3.8979,3.88924 3.64273,3.78977 5.04828,1.96791 4.82614,-6.25557 3.39631,-15.4233 -3.06433,-19.64776 -0.83853,-0.54829 -1.55947,-1.02235 -1.60209,-1.05346 -1.71648,-1.25292 1.28963,-1.90076 3.05785,-0.65899 7.5053,5.27077 8.94538,15.37366 3.25973,22.86872 l -1.38563,1.82659 2.33527,2.35543 2.33527,2.35542 1.3911,-1.48456 c 9.30221,-9.92721 6.77007,-26.77463 -5.17217,-34.41256 -0.0423,-0.0271 0.17582,-0.4775 0.4847,-1.001 l 0.56158,-0.95183 1.3674,0.9198 c 11.9948,8.06846 14.25577,26.24828 4.57794,36.80993 l -1.57677,1.72077 2.44273,2.42604 2.44273,2.42604 1.46128,-1.5875 c 12.19203,-13.24509 10.40457,-35.25178 -3.75027,-46.17216 l -1.44582,-1.11544 0.57262,-0.83016 c 0.31494,-0.45658 0.60793,-0.87652 0.65109,-0.9332 0.13198,-0.17327 1.9742,1.32332 4.01526,3.26194 13.0943,12.43709 13.86467,34.11826 1.67874,47.2458 l -1.59498,1.71822 4.40908,4.43069 4.40907,4.43069 -0.79248,0.79248 -0.79248,0.79248 z m 3.03676,-17.48048 V 219.3833 l -0.64943,-0.64943 c -1.43399,-1.43398 -3.84849,-0.38675 -3.84849,1.66918 0,0.27104 -0.36485,0.84235 -0.81077,1.26958 -0.79459,0.76126 -0.79905,0.77954 -0.22348,0.91541 1.43088,0.33779 1.28718,1.97869 -0.17328,1.97869 -0.57791,0 -0.78803,-0.14844 -0.9037,-0.63841 -0.13379,-0.56676 -0.77916,0.0718 -5.74969,5.68854 l -5.59899,6.32696 8.91131,8.92968 c 4.90122,4.91133 8.94173,8.92969 8.97891,8.92969 0.0372,0 0.0676,-7.74447 0.0676,-17.20994 z m -6.51297,10.47852 c -0.39696,-1.03444 0.57139,-2.10749 1.41974,-1.57324 0.99916,0.62922 0.56788,1.95466 -0.63601,1.95466 -0.35056,0 -0.70323,-0.17164 -0.78373,-0.38142 z m 0.008,-4.47641 c -0.35024,-0.91272 -0.005,-1.62446 0.78734,-1.62446 0.94286,0 1.48428,0.71008 1.05913,1.38906 -0.37705,0.60218 -1.64375,0.76367 -1.84647,0.2354 z m 0.1774,-4.50755 c -0.18033,-0.21729 -0.28898,-0.66952 -0.24143,-1.00495 0.10812,-0.76265 1.45457,-0.86626 1.90835,-0.14686 0.60773,0.96345 -0.93725,2.031 -1.66692,1.15181 z m 0.0302,-4.44587 c -0.80909,-0.8091 0.072,-2.30379 1.12083,-1.90132 0.6715,0.25767 0.84333,1.44382 0.26991,1.86311 -0.60095,0.43943 -0.97912,0.44982 -1.39074,0.0382 z m 0.14553,-4.46619 c -1.13728,-0.66241 -0.19913,-2.42183 1.00002,-1.87546 0.74677,0.34025 0.85426,1.12905 0.23785,1.74546 -0.48194,0.48194 -0.61045,0.49544 -1.23787,0.13 z m -0.14553,49.97453 c -0.80909,-0.8091 0.072,-2.30379 1.12083,-1.90133 0.6715,0.25768 0.84333,1.44382 0.26991,1.86312 -0.60095,0.43943 -0.97912,0.44982 -1.39074,0.0382 z m 0.14553,-4.4662 c -1.13728,-0.6624 -0.19913,-2.42183 1.00002,-1.87546 0.74677,0.34025 0.85426,1.12906 0.23785,1.74546 -0.48194,0.48195 -0.61045,0.49544 -1.23787,0.13 z m -0.36141,-4.85814 c -0.39696,-1.03445 0.57139,-2.10749 1.41974,-1.57324 0.99916,0.62922 0.56788,1.95466 -0.63601,1.95466 -0.35056,0 -0.70323,-0.17164 -0.78373,-0.38142 z m 0.008,-4.47641 c -0.35024,-0.91272 -0.005,-1.62446 0.78734,-1.62446 0.94286,0 1.48428,0.71007 1.05913,1.38906 -0.37705,0.60218 -1.64375,0.76366 -1.84647,0.2354 z M 153.37995,263.177 c -0.53139,-0.53139 -0.52724,-1.02247 0.0132,-1.56292 0.54224,-0.54224 1.12005,-0.43249 1.60931,0.30566 0.66798,1.00775 -0.76311,2.11668 -1.62252,1.25726 z m 17.06941,-2.33502 c -0.18033,-0.21729 -0.28898,-0.66952 -0.24143,-1.00495 0.10812,-0.76265 1.45457,-0.86626 1.90835,-0.14686 0.60773,0.96345 -0.93725,2.031 -1.66692,1.15181 z m -17.16768,-2.3292 c -0.78296,-0.78296 -0.007,-1.97796 1.10265,-1.69932 0.7099,0.17818 1.01633,0.92556 0.64877,1.58236 -0.28391,0.50731 -1.29365,0.57473 -1.75142,0.11696 z m 17.19791,-2.11667 c -0.80909,-0.8091 0.072,-2.30379 1.12083,-1.90133 0.6715,0.25768 0.84333,1.44382 0.26991,1.86312 -0.60095,0.43943 -0.97912,0.44982 -1.39074,0.0382 z m -17.19791,-2.38125 c -0.71168,-0.71168 -0.15757,-1.79917 0.91673,-1.79917 0.78403,0 1.26702,0.86889 0.88243,1.5875 -0.31401,0.58674 -1.30724,0.70359 -1.79916,0.21167 z m 0,-4.49792 c -0.71168,-0.71168 -0.15757,-1.79917 0.91673,-1.79917 0.65738,0 1.15352,0.69876 0.9393,1.32292 -0.27251,0.794 -1.27982,1.05247 -1.85603,0.47625 z m 0.11148,-4.58297 c -0.54045,-0.54045 -0.5446,-1.03153 -0.0132,-1.56292 0.85942,-0.85942 2.29051,0.24951 1.62253,1.25726 -0.48926,0.73815 -1.06707,0.8479 -1.60931,0.30566 z";
}

/*all items*/
.item{
	-fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.7) , 25.0,0.0,0.0,1.0 ); 
}

.item:pressed{
}

.item.label {
    -fx-font-size: 30.0px;
}

/*text on gridCell */
.item.label .text {
    -fx-fill: gold;
    -fx-stroke: goldenrod;
    -fx-stroke-width: 2.0px;
}

/*all items you can click on */
.pressableItem
{
	-fx-cursor: hand;
	-fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.7) , 25.0,0.0,0.0,1.0 ); 
}

.pressableItem:pressed{
	-fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.7) , 10.0,0.0,0.0,1.0 ); 
}

/*pane with Lestvitsa logo */
#logoPane{
	-fx-background-color:rgba(0.0,0.0,0.0,0.0);
}

/*cell on a GridView */
.gridCell {
   /*-fx-background-color:  #007400 ;*/
}

/*pane for HORIZONTAL_CAROUSEL view */
.carousel /*, .carouselItem */{
   -fx-background-color: black ;
}

/*rotating arcs on the main screen */
.arc {
	-fx-stroke:  #8fa876; 
}

/*background on circles on main screen */
.frontCircleBackground{
	-fx-fill: wheat;
}

/*text on circles on main screen */
.itemCircleText{
	-fx-fill: #2a2418;
}

/*for load images or PDF */
.progress-indicator {
	 -fx-progress-color: #f76b5e;
} 
