.root {
	-fx-background: #325c81;
	-fx-default-button: #77a3ca;
	-fx-base: #a7c4dd;
}

.value1 {
	-fx-background-color: -fx-background;
}

.value2 {
	-fx-background-color: -fx-default-button;
}

.value3 {
	-fx-background-color: -fx-base;
}