#MainScreen
{
	-fx-background-color: darkgreen;
	-fx-font-size: 26.0;
}

.button1 {
	/*-fx-background-color: green;*/
	-fx-font-size: 50.0px;
    -fx-base: #b6e7c9;  
	/*-fx-background-image: url("../InfoModel/icons/icons8-undo-80.svg");
    -fx-background-size: 90.0px;
    -fx-background-size: 100.0 170.0;*/
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50.0%;
    -fx-pref-height: 5.0px;
    -fx-pref-width: 200.0px;
   
}

.button1 .buttonIcon1 {
    -fx-background-color: black;
    -size: 500;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M 95.366203,216.61107 V 202.9641 h 8.829077 c 8.13311,0 8.9611,-0.0422 10.50404,-0.53509 8.23515,-2.63081 11.96368,-11.87976 7.89124,-19.5749 -1.86157,-3.51757 -5.43006,-6.12771 -9.37444,-6.85687 -0.97204,-0.17969 -6.46875,-0.28523 -14.855801,-0.28523 H 85.047453 v 11.2448 c 0,6.18463 -0.08962,11.24479 -0.199168,11.24479 -0.302845,0 -36.048752,-35.81366 -36.048752,-36.11708 0,-0.30245 35.748291,-36.11417 36.050207,-36.11417 0.108741,0 0.197713,5.06016 0.197713,11.24479 v 11.24479 l 13.82448,7.4e-4 c 7.750337,4.3e-4 14.870737,0.12036 16.205727,0.27298 13.95964,1.59589 25.79534,9.84448 32.11946,22.38483 1.59245,3.15775 1.96256,4.14616 2.95841,7.90082 1.0946,4.12695 1.39663,7.01252 1.20468,11.50938 -0.38715,9.06995 -3.13788,16.87946 -8.33107,23.6525 -6.06521,7.91034 -13.91907,12.92052 -23.98273,15.29918 -2.1721,0.5134 -3.31661,0.57227 -13.03073,0.67025 l -10.649477,0.10742 v -13.64697 z m 22.357287,9.67485 c 15.30739,-3.11557 26.7069,-14.51623 29.80111,-29.80411 0.75037,-3.70741 0.75225,-10.29045 0.004,-14.07218 -1.56532,-7.91166 -5.24156,-14.61924 -11.0722,-20.2021 -5.01757,-4.80434 -10.71291,-7.85106 -17.90453,-9.57802 -2.32196,-0.55759 -3.08466,-0.58563 -19.613822,-0.72122 l -17.197907,-0.14107 -0.06971,-8.79739 c -0.03834,-4.83857 -0.157829,-8.7974 -0.265528,-8.7974 -0.300516,0 -27.842886,27.61412 -27.842886,27.91542 0,0.14552 6.308695,6.57243 14.019324,14.28203 l 14.019322,14.01745 0.06974,-8.9913 0.06974,-8.99131 h 15.345834 c 17.164813,0 17.355023,0.016 21.034373,1.7718 1.85241,0.88397 2.6455,1.47552 4.49792,3.35487 3.10893,3.15415 4.61464,6.34992 4.93073,10.46516 0.20618,2.68445 -0.51979,5.87917 -2.07513,9.13185 -1.36598,2.85665 -4.44671,6.04587 -7.08894,7.33855 -3.53268,1.72833 -3.68124,1.75157 -11.97239,1.87329 l -7.606771,0.11167 v 10.11825 c 0,5.56503 0.0893,10.21191 0.198437,10.32639 0.109141,0.11448 3.770314,0.14509 8.135934,0.068 6.54418,-0.11553 8.40194,-0.23466 10.58333,-0.67865 z m -14.89906,-3.2238 c -1.11703,-1.04067 -0.43271,-2.9001 1.06731,-2.9001 0.67854,0 1.52863,0.95066 1.52863,1.70948 0,0.72391 -0.92326,1.7301 -1.5875,1.7301 -0.23616,0 -0.68996,-0.24276 -1.00844,-0.53948 z m 6.88814,0.1276 c -0.40494,-0.28363 -0.58804,-0.68278 -0.58804,-1.28191 0,-1.57183 1.56912,-2.29335 2.64584,-1.21663 0.73841,0.73841 0.66981,1.70305 -0.16798,2.36205 -0.83499,0.65681 -1.1178,0.67723 -1.88982,0.13649 z m 6.16531,-0.74129 c -0.57351,-0.41937 -0.65937,-1.79141 -0.15046,-2.40461 0.4691,-0.56523 1.94596,-0.52191 2.48423,0.0729 1.35795,1.50052 -0.68249,3.53917 -2.33377,2.33173 z m 6.08542,-1.85209 c -0.3062,-0.2239 -0.49154,-0.68695 -0.49154,-1.22807 0,-1.00682 0.62596,-1.5875 1.71126,-1.5875 0.77795,0 1.55193,0.82108 1.55193,1.64637 0,1.19213 -1.73776,1.9252 -2.77165,1.1692 z m 5.59079,-3.03484 c -0.55221,-0.61018 -0.56743,-1.98968 -0.0269,-2.43827 0.6132,-0.5089 1.98524,-0.42305 2.40461,0.15047 1.17993,1.61364 -1.04788,3.75722 -2.37769,2.2878 z m 4.87298,-4.18204 c -0.3016,-0.38343 -0.54837,-0.91921 -0.54837,-1.19063 0,-0.65612 0.92323,-1.55181 1.59953,-1.55181 0.64139,0 1.84006,1.12032 1.84006,1.71979 0,0.59114 -1.19498,1.71979 -1.82086,1.71979 -0.28709,0 -0.76875,-0.31371 -1.07036,-0.69714 z m 4.10389,-4.7305 c -0.58595,-0.44338 -0.67755,-1.74714 -0.16604,-2.36347 0.4691,-0.56524 1.94596,-0.52191 2.48423,0.0729 1.32355,1.4625 -0.73043,3.49202 -2.31819,2.29059 z m 3.07953,-5.56757 c -1.22438,-0.85759 -0.52553,-2.85132 0.99946,-2.85132 1.49027,0 2.13272,1.65965 1.05834,2.73403 -0.63569,0.63569 -1.26635,0.67164 -2.0578,0.11729 z m 1.70193,-6.1574 c -0.53797,-0.59445 -0.57221,-1.9857 -0.0593,-2.41134 0.51159,-0.42457 1.89048,-0.43775 2.39043,-0.0228 0.56108,0.46566 0.51469,1.94393 -0.0778,2.48014 -0.63901,0.5783 -1.70804,0.55649 -2.25326,-0.046 z m 0.63648,-6.37928 c -1.15026,-1.15026 -0.31764,-2.77464 1.34003,-2.61432 0.62741,0.0607 0.98995,0.28802 1.27609,0.80023 0.36868,0.65996 0.35702,0.77288 -0.15021,1.45521 -0.69417,0.9338 -1.73894,1.08585 -2.46591,0.35888 z m -0.63648,-6.32072 c -0.5104,-0.56398 -0.57892,-1.9151 -0.12038,-2.37364 0.48194,-0.48195 1.92254,-0.3829 2.41961,0.16635 0.24084,0.26612 0.43789,0.78345 0.43789,1.14962 0,1.35501 -1.82858,2.06161 -2.73712,1.05767 z m -1.85208,-6.08541 c -0.45391,-0.50157 -0.57386,-1.54933 -0.2354,-2.05623 0.10691,-0.16011 0.47715,-0.44015 0.82274,-0.6223 1.45436,-0.76655 2.92756,1.79384 1.5766,2.74009 -0.79672,0.55805 -1.62452,0.5345 -2.16394,-0.0616 z m -2.80279,-5.53513 c -0.80191,-0.64934 -0.81163,-1.85691 -0.0201,-2.49784 0.32535,-0.26346 0.7409,-0.47901 0.92343,-0.47901 0.60816,0 1.72628,1.08889 1.71775,1.67285 -0.0201,1.37887 -1.57396,2.1519 -2.62108,1.304 z m -4.35683,-5.13792 c -0.23211,-0.33138 -0.42202,-0.78765 -0.42202,-1.01393 0,-0.22628 0.18991,-0.68256 0.42202,-1.01394 0.61091,-0.8722 2.09798,-0.7118 2.70398,0.29167 0.40062,0.66339 0.40433,0.80149 0.0391,1.45521 -0.55793,0.99853 -2.12783,1.15934 -2.74305,0.28099 z m -4.74663,-3.87904 c -0.95581,-1.05615 -0.357,-2.69114 0.98562,-2.69114 1.51946,0 2.21321,1.33973 1.33962,2.58696 -0.50854,0.72603 -1.71362,0.78002 -2.32524,0.10418 z m -67.521791,-0.43016 c -0.357187,-0.35719 -0.649432,-0.83885 -0.649432,-1.07036 0,-0.52113 1.165412,-1.71979 1.672084,-1.71979 0.640589,0 1.767693,1.0692 1.763449,1.67285 -0.0051,0.72471 -0.239273,1.07753 -0.970743,1.46254 -0.825942,0.43475 -1.08456,0.38556 -1.815358,-0.34524 z m 61.937841,-2.62049 c -0.37112,-0.37113 -0.67477,-0.84272 -0.67477,-1.04799 0,-0.66571 1.07205,-1.7675 1.71979,-1.7675 0.67556,0 1.72525,1.1173 1.71138,1.82162 -0.0129,0.65474 -0.61008,1.29931 -1.38368,1.49347 -0.53936,0.13537 -0.85127,0.0219 -1.37272,-0.4996 z m -6.09079,-1.74839 c -1.06752,-1.1796 -0.0639,-3.1566 1.4142,-2.78563 1.37724,0.34566 1.76535,1.77088 0.74362,2.73074 -0.76067,0.71462 -1.54278,0.73451 -2.15782,0.0549 z m -50.766933,-0.75721 c -0.949259,-1.04891 -0.219667,-2.69114 1.195589,-2.69114 1.288537,0 1.994001,1.63073 1.173215,2.71198 -0.460422,0.60653 -1.811803,0.59464 -2.368804,-0.0208 z m 23.812502,0 c -1.336702,-1.47703 0.691928,-3.52276 2.291096,-2.3104 0.563822,0.42744 0.672883,1.80523 0.189045,2.38822 -0.465654,0.56108 -1.943926,0.51469 -2.480141,-0.0778 z m 6.879167,0 c -0.552013,-0.60996 -0.557419,-1.3444 -0.01558,-2.11797 0.572897,-0.81792 1.852279,-0.69204 2.553267,0.25122 0.484232,0.6516 0.489235,0.74064 0.08551,1.52136 -0.349885,0.6766 -0.590489,0.82925 -1.307063,0.82925 -0.514807,0 -1.059444,-0.20023 -1.316122,-0.48386 z m 6.715174,-0.0279 c -0.68391,-1.27791 0.0233,-2.66322 1.35958,-2.66322 1.35501,0 2.06161,1.82857 1.05767,2.73711 -0.67741,0.61305 -2.07243,0.57041 -2.41725,-0.0739 z m 6.92277,0.19428 c -0.48194,-0.48195 -0.3829,-1.92255 0.16636,-2.41962 0.26612,-0.24084 0.78345,-0.43788 1.14962,-0.43788 1.35501,0 2.0616,1.82857 1.05767,2.73711 -0.56398,0.5104 -1.91511,0.57893 -2.37365,0.12039 z m -39.211245,-5.23875 c -0.638932,-0.63893 -0.671394,-1.2667 -0.107151,-2.07227 0.621456,-0.88726 2.219111,-0.72063 2.696975,0.28127 0.802224,1.68198 -1.267513,3.11331 -2.589824,1.791 z m 5.357813,-4.90062 c -1.196875,-0.84653 -0.51394,-3.03688 0.946875,-3.03688 0.75094,0 1.635051,0.90003 1.624399,1.65364 -0.01897,1.34285 -1.501087,2.14016 -2.571274,1.38324 z";
}

.button2{
	-fx-pref-height: 10.0px;
    -fx-pref-width: 200.0px;
}

.arc {
	-fx-stroke:  #8fa876; 
}

.pressableItem /*.locketCircle*/
{
	-fx-cursor: hand;
	-fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.7) , 25.0,0.0,0.0,1.0 ); 
}


.pressableItem:pressed{
	-fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.7) , 10.0,0.0,0.0,1.0 ); 
}